.callout {
	border: .4em solid var(--box);
	border-radius: 1em;
	margin: 1em 0;
}

.callout-title {
	display: flex;
	gap: .5em;
	background-color: var(--box);
	padding: .5em 1em;
	align-items: center;
	user-select: none;
}

.callout-title-icon {
	height: 24px;
}

.callout-title-inner {
	line-height: 2;
}

.callout-content {
	padding: 1em 2em;
}

@media only screen and (max-width: 480px) {
	.callout-content {
		padding: 0 1em;
	}
}