.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 2rem 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background-color: var(--c);
}

tbody tr:nth-child(odd) {
    background-color: var(--box);
}

th,
td {
    padding: 1em;
    border: 0;
    text-align: left;
    white-space: nowrap;
}

th.sortable {
    cursor: pointer;
    user-select: none;
}

th.sortable.sorted:before {
    content: '↓ ';
}

th.sortable.sorted-reverse:before {
    content: '↑ ';
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
}