.chapter {
	align-items: center;
	display: flex;
	gap: 2em;
	justify-content: space-between;
}

.chapter a {
	color: #0cf;
	font-size: 32px;
	font-weight: normal;
	margin: 0;
	text-wrap: nowrap;
}

.chapter p {
	font-size: var(--font-size);
	margin: 0;
}

.chapter-desc {
	font-size: var(--font-size);
	margin: 1em 1em 1.5em 1em;
}

.dot-line {
	border-top: 5px dotted #fffb;
	width: 100%;
}

body.light .dot-line {
	border-top: 5px dotted #0008;
}