.chapter {
	align-items: center;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	line-height: 2;
	flex-wrap: wrap;
}

.chapter h1 {
	margin: 0;
	width: fit-content;
}

.chapter p {
	margin: 0;
	text-indent: 0;
}

.dot-line {
	border-top: 5px dotted var(--box);
	flex-grow: 1;
}