body {
	overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
	width: 0 !important;
}

.chs {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	user-select: none;
}

.chs > div {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.ch {
	align-items: center;
	background-color: #fff8;
	border-radius: 16px;
	display: flex;
	height: 120px;
	justify-content: center;
	margin: auto;
	width: 120px;
}

.ch img {
	height: 120px;
}

.chs > div > a {
	background-color: var(--c);
	border-radius: .5rem;
	font-size: 20px;
	margin: 1rem 0;
	padding: 0.5rem 0.7rem;
}

.chs > div > a::selection {
	background-color: var(--c);
	color: #fff;
}

.unrevealed img {
	filter: brightness(0);
}

.unrevealed:hover {
	cursor: default;
	background-color: #fff8;
}

#back {
	align-items: center;
	display: flex;
	font-size: 24px;
}

.desc > * {
	margin: 1em 0;
}

.desc h1, .desc h2 {
	color: var(--c);
}

.desc img {
	background-color: #fff8;
	border-radius: 16px;
	width: 100%;
	user-select: none;
}

.quote {
	border: 3px solid #fff8;
	border-radius: 12px;
	padding: 1em;
}

::-webkit-scrollbar {
	background-color: #0000;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: #fff8;
	border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #fffa;
}