.chs {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	user-select: none;
	padding: 1em 0;
	height: min-content;
	background-color: var(--bg);

	&>div {
		align-items: center;
		display: flex;
		flex-direction: column;
		transition: transform .2s;

		&>a {
			margin: 1em 0;
			background-color: var(--c);
			padding: .3em .5em;
			border-radius: .3em;
			text-decoration: none;
			font-size: var(--font-size-small);
		}

		&:hover {
			transform: scale(1.1) translateY(.2em);

			& .ch {
				box-shadow: 0 0 0 .4em var(--c);
			}
		}
	}
}

.ch {
	align-items: center;
	background-color: var(--box);
	border-radius: 1em;
	display: flex;
	justify-content: center;
	overflow: hidden;
	transition: box-shadow .2s;

	& img {
		height: 6em;
		width: auto;
	}
}