.desc {
  display: flex;
  gap: 2em;
  position: relative;
}

h1,
h2,
h3,
#main-content h2::before,
#main-content h3::before {
  color: var(--accent);
}

.left-side {
  flex-shrink: 0;
  width: 360px;
}

.left-side .collapsible-content p {
  text-align: left;
}

.right-side {
  flex-grow: 1;
}

.desc>* {
  margin: 1.5rem 0;
}

.desc .collapsible-content {
  margin: 0;
}

.desc .note {
  margin: 2em 1em;
}

.desc .note>p:first-child {
  margin-top: 0;
}

.desc .note>p:last-child {
  margin-bottom: 0;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title img {
  background-color: var(--box);
  border-radius: 16px;
  height: 200px;
  user-select: none;
  width: 200px;
}

.title-info,
.title-info p {
  text-align: center;
}

.title-info h1 {
  font-size: var(--font-size-h1);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.title-info>* {
  margin: 1rem 0;
  text-indent: 0;
}

#info {
  align-items: center;
  display: flex;
  gap: .5rem;
}

#info .tooltip {
  display: inline-flex;
  height: 28px;
}

.quote {
  font-style: italic;
  margin: 1em;
}

.ch-attr {
  border: 4px solid var(--box);
  border-width: 8px 0;
  color: var(--text);
  font-size: var(--font-size);
  line-height: 2;
  margin: 1rem 0;
  padding: 1em 0;
}

.ch-attr>div>div {
  padding: 0.5em;
}

.ch-attr>div>div:first-child {
  color: var(--accent);
  font-weight: bold;
}

.ch-attr>div>div:last-child {
  margin-left: 1em;
}

h3 {
  margin-left: 1em;
}

.rel-h3 {
  text-transform: capitalize;
}

.rel-img {
  height: 8em;
  width: 8em;
  object-fit: contain;
}

#gallery>div>img:hover {
  box-shadow: 0 0 0 4px var(--accent);
}

@media only screen and (max-width: 780px) {
  .desc {
    flex-direction: column;
    gap: 0;
  }

  .left-side {
    width: unset;
  }
}