h1,
h2,
h3,
dt {
	color: var(--accent);
}

blockquote {
	border-color: var(--accent);
}

.title {
	display: flex;
	gap: 2em;
	align-items: center;
	margin: 2em 0;

	&>img {
		height: 280px;
		width: 280px;
		background-color: var(--box);
		border-radius: 1em;
		user-select: none;
	}

	&>.names {
		&>.en {
			font-size: calc(var(--font-size-h1) * 1.5);
			margin-top: 0;
			margin-bottom: 1rem;
			line-height: 1.5;
		}

		&>.zh {
			font-weight: bold;
			margin-top: 0;
			margin-bottom: 1rem;
		}

		&>p:last-child {
			margin-bottom: 0;
		}
	}
}

.fullbody {
	max-height: 12em;
	max-width: 8em;
	height: auto;
	width: auto;
}

.rel-img {
	max-height: 8em;
	max-width: 8em;
	width: auto;
	height: auto;
}

.card h3 {
	color: var(--text);

	&::before {
		content: '';
	}
}

.palette {
	border-radius: 16px;
	display: flex;
	height: 120px;
	margin: 2em 0;
	overflow: hidden;

	&>div {
		align-items: center;
		display: flex;
		flex: 1;
		flex-basis: 0px;
		justify-content: center;
		transition: all .3s var(--bezier);
		transform: skewX(-20deg);
		overflow: hidden;
		margin: -1px;

		&:hover {
			flex-basis: 80px;
		}

		&>div {
			align-items: center;
			border-radius: 6px;
			display: none;
			flex-direction: column;
			font-weight: bold;
			justify-content: center;
			padding: 6px;
			text-align: center;
			transform: skewX(20deg);

			&>span {
				&:first-child {
					font-size: var(--font-size);
					text-transform: uppercase;
				}

				&:last-child {
					font-size: var(--font-size-small);
				}
			}
		}

		&:hover>div {
			display: flex;
		}
	}
}

.img>img:hover {
	box-shadow: 0 0 0 8px var(--accent);
}

.pagedoll {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	max-width: 20vw;
	max-height: 30vh;
	height: auto;
	width: auto;
	z-index: 999;
	filter: drop-shadow(0 0 16px var(--c));
}

.pagedoll:hover {
	animation: fa-bounce 1s infinite;
}

/* you guessed it -- from fontAwesome */
@keyframes fa-bounce {
	10% {
		transform: scale(1.1, .9) translateY(0);
	}

	30% {
		transform: scale(.9, 1.1) translateY(-2em);
	}

	50% {
		transform: scale(1.05, .95) translateY(0);
	}

	57% {
		transform: scale(1) translateY(-.125em);
	}
}

@media only screen and (max-width: 780px) {
	.title {
		flex-direction: column;

		&>.names {
			gap: 0;

			&>* {
				text-align: center;
			}
		}
	}
}