body {
	overflow: -moz-scrollbars-none;
}

#flexbox {
	display: flex;
}



.chs {
	flex-grow: 1;
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	user-select: none;
	border-radius: 16px;
	padding: 2em 0;
	height: min-content;
	background-color: var(--bg);
	z-index: 999;

	&>div {
		align-items: center;
		display: flex;
		flex-direction: column;
		transition: transform .2s;

		&:hover {
			transform: scale(1.1);

			& .ch {
				box-shadow: 0 0 0 8px var(--c);
			}
		}
	}
}

.ch {
	align-items: center;
	background-color: var(--box);
	border-radius: 16px;
	display: flex;
	justify-content: center;
	margin: auto;
	overflow: hidden;
	transition: box-shadow .2s;
}

.ch img {
	height: 120px;
	width: 120px;
}

.chs>div>a {
	margin: 1rem 0;
}