h1,
h2,
main h2::before,
main h3::before,
.attr-key {
  color: var(--accent);
}

blockquote {
  border-color: var(--accent);
}

.title {
  display: flex;
  gap: 2em;
  align-items: center;
  margin: 2em 0;

  &>img {
    height: 240px;
    width: 240px;
    background-color: var(--box);
    border-radius: 1em;
    user-select: none;
  }

  &>.names {
    &>h1 {
      font-size: calc(var(--font-size-h1) * 1.5);
      margin-top: 0;
      margin-bottom: 1rem;
    }

    &>p:last-child {
      margin-bottom: 0;
    }
  }
}

.rel-img {
  height: 8em;
  width: 8em;
  object-fit: contain;
}

.gallery {
  --c: var(--accent)
}

@media only screen and (max-width: 780px) {
  .title {
    flex-direction: column;

    &>.names>* {
      text-align: center;
    }
  }
}