.wrapper {
    display: flex;
}

.side {
    position: relative;

    & h3::before {
        content: '';
    }

    & img {
        margin: auto;
        height: 18em;
        width: 14em;
        object-fit: contain;
        cursor: pointer;
    }
}

.one {
    flex: 1;

    & img {
        transform: scaleX(-1);
    }

    & h3,
    & p {
        text-align: right;
    }
}

.two {
    flex: 1;
}

.vs {
    font-weight: bold;
    align-self: center;
}

.result {
    display: none;

    & p {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper {
        flex-direction: column;
    }

    .side {

        & h3,
        & p {
            text-align: center;
        }
    }
}