#tags {
	color: var(--text);
	font-size: var(--font-size);
	margin: 2em 1em;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: space-between;
	margin-top: 1em;
	user-select: none;
}

.tags::after {
	content: "";
	flex: auto;
}

.tags div {
	background-color: var(--box);
	border-radius: 6px;
	cursor: pointer;
	line-height: 1;
	padding: 4px 6px;
	text-transform: capitalize;
}

.tags div:hover {
	background-color: #fffa;
}

body.light .tags div:hover {
	background-color: #0003;
}

.tags div.active {
	background-color: #fff;
	color: #000;
}

body.light .tags div.active {
	background-color: #000;
	color: #fff;
}