.gallery {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.img {

	&>img {
		background-color: var(--box);
		border-radius: 16px;
		cursor: pointer;
		object-fit: cover;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		padding: .5em;
		user-select: none;
		aspect-ratio: 1;
		transition: all .2s var(--bezier);

		&:hover {
			box-shadow: 0 0 0 8px var(--c);
		}
	}
}

.icons {
	position: absolute;
	top: 12px;
	left: 18px;
	color: var(--c);
	user-select: none;
	cursor: pointer;
	display: flex;
	gap: 8px;
}

.modal {
	align-items: center;
	background-color: #000c;
	display: none;
	flex-direction: column;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: auto;
	z-index: 999;

	& p {
		color: var(--off-white);
	}

	& .name-date {
		display: flex;
		gap: 1em;
		justify-content: space-between;
		text-indent: 0;
		opacity: .5;
	}
}

.comment {
	max-width: 90vw;
	width: 800px;
}

.modal img {
	height: 80vh;
	width: 90vw;
	object-fit: contain;
	margin: 5vh 0;
}

.prev,
.next {
	position: fixed;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: 0;
	background-color: transparent;

	&.noclick {
		opacity: .5;

		&:hover {
			cursor: not-allowed;
			background-image: none !important;
		}
	}
}

.prev {
	left: 0;

	&:hover {
		background-image: linear-gradient(to right, var(--box-dark), transparent);
	}
}

.next {
	right: 0;

	&:hover {
		background-image: linear-gradient(to left, var(--box-dark), transparent);
	}
}

.chbuttons {
	justify-content: center;
	max-width: 90vw;
	width: 800px;
	margin-top: 1em;
}

.close {
	color: var(--off-white);
	position: fixed;
	background-color: transparent;
	right: 2em;
	top: 2em;
	z-index: 999;
	padding: 0;
}