.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
}

.img {
    position: relative;
}

.icons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    color: var(--box);
    user-select: none;
}

.img.hidden {
    display: none;
}

.img>img {
    background-color: var(--box);
    border-radius: 16px;
    cursor: pointer;
    object-fit: cover;
    width: 120px;
    padding: .5em;
    margin: 12px;
    height: 120px;
    user-select: none;
    aspect-ratio: 1;
}

.img>img:hover {
    box-shadow: 0 0 0 4px #0ab89f;
}

.modal {
    align-items: center;
    background-color: #000c;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
    z-index: 999;
}

.modal p {
    color: var(--bg-light);
}

.modal .name-date {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    text-indent: 0;
    opacity: .5;
}

.modal:has(.comment) {
    justify-content: flex-start;
}

.modal img {
    background-color: transparent;
    height: 90vh;
    margin: 5vh 0;
    object-fit: contain;
    width: 90vw;
}

.comment {
    max-width: 90vw;
    width: 800px;
}

.chbuttons {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: center;
    margin: 1em 0;
    max-width: 90vw;
    width: 800px;
}

.close {
    color: #fff;
    cursor: pointer;
    position: fixed;
    right: 2em;
    top: 2em;
}