.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 1fr;
	gap: 2em;
	margin: 2em 0;

	& a {
		user-select: none;
		text-decoration: none;

		&:hover {
			color: var(--text);
		}
	}
}

.big {
	grid-row: span 2;

	& .card {
		background-position: center calc(var(--font-size) * 3 + 10px);

		&:hover {
			background-position: center calc(var(--font-size) / -4 + 20px);
		}
	}
}

.card {
	border-color: var(--c);
	transition: all .3s var(--bezier-bounce);
	height: 100%;
	box-sizing: border-box;
	padding: 1em;
	margin: 0;
	font-size: calc(var(--font-size) * 1.35);
	background-size: cover;
	background-position: center calc(var(--font-size) * 3);
	background-repeat: no-repeat;
	image-rendering: pixelated;
	box-shadow: 0 0 0 0 var(--box);

	& p {
		text-shadow: 0px 0px .3em var(--bg);
		margin: 0;
	}

	&:hover {
		box-shadow: 0 0 0 .4em var(--box);
		background-position: center 0;
	}
}

.ch-card {
	border: .4em solid;
	border-radius: 1em;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	margin: 1em;

	& h2,
	& p {
		margin: 0;
	}

	& h2 {
		background-color: transparent;
		padding: 0;
		clip-path: none;
	}

	&>:last-child {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1em;
		justify-content: space-around;
	}

	& img {
		height: 8em;
		width: 8em;
		border-radius: .5em;
		overflow: hidden;
		user-select: none;
	}
}

@media only screen and (max-width: 480px) {
	.ch-card {
		flex-direction: column;

		&>:last-child {
			align-items: center;
		}
	}
}