.bday-holiday {
	display: flex;
	gap: 1em;

	&>section {
		flex: 1;
		min-width: 0;
	}
}

.ch-cards.short {
	display: flex;
	overflow-x: auto;
}

.ch-card {
	border: .4em solid;
	border-radius: 1em;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	margin: 1em;

	& h2,
	& p {
		margin: 0;
	}

	& h2 {
		background-color: transparent;
		padding: 0;
		clip-path: none;
	}

	&>:last-child {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1em;
		justify-content: space-around;
	}

	& img {
		height: 8em;
		width: 8em;
		border-radius: .5em;
		overflow: hidden;
		user-select: none;
	}


}

.short .ch-card {
	flex-direction: column;
	gap: .5em;
	min-width: 12em;

	&>:last-child {
		align-items: center;
		gap: .5em;

		& p {
			text-align: start;
		}
	}
}

@media only screen and (max-width: 480px) {
	.ch-card {
		flex-direction: column;
		gap: .5em;
		min-width: 12em;

		&>:last-child {
			align-items: center;
			gap: .5em;

			& p {
				text-align: start;
			}
		}
	}

	.ch-cards {
		display: flex;
		overflow-x: auto;
	}

	.bday-holiday {
		display: block;
	}
}