a[href*="bauhinia/"] {
	color: #F01ACE;
}

a[href*="fanton/"] {
	color: #B212D2;
}

a[href*="atlasia/"] {
	color: #09721A;
}

a[href*="westavia/"] {
	color: #D59528;
}

a[href*="moreland/"] {
	color: #169986;
}

a[href*="sylvandia/"],
a[href*="solarine/"],
a[href*="lunarale/"],
a[href*="mistle/"],
a[href*="holliloli/"],
a[href*="snowdale/"] {
	color: #217DE6;
}

a[href*="starcorp"] {
	color: #1A7CF0;
}

a[href*="sparky/"] {
	color: #0cf;
}

a[href*="ribbon/"] {
	color: #e368d3;
}

a[href*="cosmo/"] {
	color: #998cbd;
}

a[href*="tomato/"] {
	color: #A10000;
}

a[href*="guillotine/"] {
	color: #d0ae3a;
}

a[href*="tephra/"] {
	color: #008282;
}

a[href*="melody/"] {
	color: #426600;
}

a[href*="jerboa/"] {
	color: #0867af;
}

a[href*="tundra/"] {
	color: #800080;
}

a[href*="alaska/"] {
	color: #6C0404;
}

a[href*="starry/"] {
	color: #CC770F;
}

a[href*="dragonfly/"] {
	color: #00adad;
}

a[href*="qibli/"] {
	color: #440044;
}

a[href*="sky/"] {
	color: #236ce1;
}

a[href*="firecrackers/"] {
	color: #8214bd;
}

a[href*="myriad/"] {
	color: #d01b84;
}

a[href*="amber/"] {
	color: #e15f19;
}

a[href*="peacock/"] {
	color: #20f;
}

a[href*="fantasy/"] {
	color: #ce00af;
}

a[href*="ironheart/"] {
	color: #69272b;
}

a[href*="willow/"] {
	color: #199400;
}

a[href*="nightsun/"] {
	color: #130b51;
}

a[href*="bramble/"] {
	color: #E19D0E;
}

a[href*="goose/"] {
	color: #D54269;
}

a[href*="pumpkin/"] {
	color: #E3744D;
}

a[href*="halcyon/"] {
	color: #008E9B;
}

a[href*="paperweight/"] {
	color: #2e2e2e;
}

a[href*="pearl/"] {
	color: #caf1f1;
}

a[href*="jackpot/"] {
	color: #AC7C26;
}

a[href*="buttercup/"] {
	color: #8c7503;
}

a[href*="hyrax/"] {
	color: #333333;
}

a[href*="beauty/"] {
	color: #CE6C07;
}

a[href*="chastity/"] {
	color: #C3BB4E;
}

a[href*="devotion/"] {
	color: #017909;
}

a[href*="elegance/"] {
	color: #1054ad;
}

a[href*="animus/"] {
	color: #a10000;
}

a[href*="jaculus/"] {
	color: #008bc7;
}

a[href*="koala/"] {
	color: #7F8587;
}

a[href*="kangaroo/"] {
	color: #A36D1F;
}

a[href*="robin/"] {
	color: #a72b0c;
}

a[href*="frosting/"] {
	color: #F676D2;
}
