.palette {
	border-radius: 16px;
	cursor: pointer;
	display: flex;
	height: 120px;
	margin: 2em 0;
	overflow: hidden;
}

.palette>div {
	align-items: center;
	display: flex;
	flex: 1;
	flex-basis: 0px;
	justify-content: center;
	transition: all .1s;
}

.palette>div:hover {
	flex-basis: 80px;
}

.palette>div>div {
	align-items: center;
	border-radius: 6px;
	display: none;
	flex-direction: column;
	font-weight: bold;
	justify-content: center;
	padding: 6px;
	text-align: center;
}

.palette>div>div>span:first-child {
	font-size: 24px;
	text-transform: uppercase;
}

.palette>div>div>span:last-child {
	font-size: 16px;
}

.palette>div:hover>div {
	display: flex;
}