.question ul {
    list-style: none;
    padding-inline-start: 0;

    &>li {
        margin: 0;
    }

    & label {
        cursor: pointer;
        display: block;
        border-radius: 1em;
        padding: .2em 1em;

        &:hover {
            background-color: var(--box);
        }
    }
}

.question ol {
    padding-inline-start: 1em;
}