@font-face {
	font-family: lexend;
	src: local(Lexend),
		url(/The-Iron-Ragdoll/fonts/Lexend.ttf),
		url(/fonts/Lexend.ttf);
}

@font-face {
	font-family: lxgw;
	src: local(霞鹭文楷),
		url(/The-Iron-Ragdoll/fonts/LXGWWenKai-Regular.ttf),
		url(/fonts/LXGWWenKai-Regular.ttf);
}

@font-face {
	font-family: lxgw-marker;
	src: local(霞鹭漫黑),
		url(/The-Iron-Ragdoll/fonts/LXGWMarkerGothic-Regular.ttf),
		url(/fonts/LXGWMarkerGothic-Regular.ttf);
}

@font-face {
	font-family: troika;
	src: local(Troika),
		url(/The-Iron-Ragdoll/fonts/troika.otf),
		url(/fonts/troika.otf);
}

@font-face {
	font-family: noto sans arabic;
	src: local(Noto Sans Arabic),
		url(/The-Iron-Ragdoll/fonts/NotoSansArabic-VariableFont_wdth\,wght.ttf),
		url(/fonts/NotoSansArabic-VariableFont_wdth\,wght.ttf);
}

& {
	interpolate-size: allow-keywords;
}

:root {
	--font-size: clamp(16px, 0.75rem + 0.8vw, 24px);
	--font-size-h1: calc(var(--font-size) * 1.8);
	--font-size-h2: calc(var(--font-size) * 1.6);
	--font-size-h3: calc(var(--font-size) * 1.3);
	--font-size-h4: calc(var(--font-size) * 1.2);
	--font-size-small: calc(var(--font-size) * 0.8);
	--bezier: cubic-bezier(0, 0, 0, 1);
	--bezier-bounce: cubic-bezier(0, 1, 0, 1.5);
	--off-black: #222;
	--off-white: #eee;
	--c-light: #555;
	--box-light: #0001;
	--c-dark: #aaa;
	--box-dark: #fff5;
}

body {
	color: var(--text);
	font-family: lexend, lxgw, noto sans arabic;
	font-size: var(--font-size);
	hyphens: auto;
	margin: 0;
	background-color: var(--bg);
}

html {
	&.dark body {
		--text: var(--off-white);
		--bg: var(--off-black);
		--c: var(--c-dark);
		--box: var(--box-dark);

		& .theme-toggle>div {
			left: 36px;

			& svg:first-child {
				display: none;
			}

			& svg:last-child {
				display: block;
			}
		}
	}

	&.light body {
		--text: var(--off-black);
		--bg: var(--off-white);
		--c: var(--c-light);
		--box: var(--box-light);

		& .theme-toggle>div {
			left: 0px;

			& svg:first-child {
				display: block;
			}

			& svg:last-child {
				display: none;
			}
		}
	}
}

::selection {
	color: var(--off-white);
	background-color: var(--c-light);
}

h1,
h2,
h3,
h4 {
	color: var(--text);
	line-height: 2;
	font-family: troika, lxgw-marker;
	letter-spacing: 3px;
	font-weight: normal;
	margin-bottom: .75em;
	margin-top: 1.25em;
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

article {
	& h2::before {
		content: '# ';
		opacity: .5;
	}

	& h3::before {
		content: '## ';
		opacity: .5;
	}

	& h4::before {
		content: '### ';
		opacity: .5;
	}
}

[id] {
	scroll-margin-top: 6em;
}

main {
	margin: 2em auto;
	max-width: 800px;
	padding: 0 2em;
}

p {
	color: var(--text);
	line-height: 2;
	text-align: justify;
}

.spoilers {
	background-color: var(--text);
	border-radius: 4px;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--c);
	text-decoration-thickness: .2em;
	text-underline-offset: .3em;
	text-decoration-skip-ink: none;
	transition: all .2s var(--bezier);

	&:hover {
		color: var(--c);
		text-underline-offset: .2em;
	}
}

img {
	display: block;
}

.m-auto {
	margin: auto;
}

svg {
	vertical-align: text-bottom;
}

.max,
.max img {
	height: 100%;
	width: 100%;
	margin: 1em 0;
}

.float-left {
	float: left;
	margin: 1em 1em 1em 0;
	user-select: none;
}

.float-right {
	float: right;
	margin: 1em 0 1em 1em;
	user-select: none;
}

figure {
	margin: 1em;
	display: flex;
	flex-direction: column;
	gap: .5em;
	align-items: center;
	justify-content: space-between;
}

figcaption {
	font-size: smaller;
	opacity: .8;
	line-height: 2;
}

.lighter-text {
	opacity: .5;
}

.smaller-text {
	font-size: var(--font-size-small);
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	justify-content: center;

	& img {
		width: 88px;
		height: 31px;
		margin: 0;
	}
}

button {
	background-color: var(--c);
	border: 0;
	border-radius: 8px;
	color: var(--bg);
	cursor: pointer;
	font-size: var(--font-size);
	font-family: lexend;
	padding: .5em 1em;
	user-select: none;
}

blockquote {
	margin: 1em 2em;
	padding: .5em 1.5em;
	position: relative;
	border-left: 8px solid var(--c);

	& p:first-child {
		margin-top: 0;
	}

	& p:last-child {
		margin-bottom: 0;
	}
}

pre {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1rem;
	background-color: var(--box);
	color: var(--text);
	font-size: var(--font-size);
	border-radius: 12px;

	& code {
		background-color: transparent;
	}
}

.footnote-ref a {
	text-decoration: none;
}

.footnote-backref {
	vertical-align: middle;
}

.footnotes-list p {
	font-size: smaller;
}

::marker {
	color: var(--text);
	font-size: smaller;
}

#toc-wrap {
	border: 8px solid var(--box);
	border-radius: 1em;
	padding: .1em 2em;
	width: fit-content;
}

#toc {
	& summary {
		user-select: none;
	}

	& ul {
		list-style: decimal;
		padding-inline-start: 1em;
	}
}

details {
	margin: 1em 0;

	&>summary {
		list-style: none;
		cursor: pointer;
		display: flex;
		align-items: baseline;
		gap: .5em;

		&>h2 {
			margin: 0;
		}

		&>h3 {
			color: var(--text);

			&::before {
				content: '';
			}
		}

		&::after {
			content: '+';
			font-size: var(--font-size-h1);
		}
	}
}

details[open]>summary::after {
	content: '-';
}

header {
	width: 100%;
	height: 6em;
	user-select: none;
	background-size: cover;
	background-position: center;
}

header a {
	width: 100%;
	height: 100%;
	display: block;
}

nav {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size);
	justify-content: center;
	margin: auto;
	width: 100%;
	background-color: var(--c);
	color: var(--bg);
	position: sticky;
	top: 0;
	z-index: 999;
	user-select: none;

	&>a {
		margin: .5em;
		text-decoration: none;
	}
}

nav>a:hover,
.license a:hover {
	text-decoration: underline;
	color: var(--bg);
}

footer {
	position: relative;
}

.footer-img {
	height: auto;
	max-width: 100%;
	width: 13em;
	user-select: none;
	filter: drop-shadow(0 0 16px var(--c));
}

.license {
	padding: .5em;
	background-color: var(--c);
	user-select: none;

	&>p {
		font-size: var(--font-size-small);
		color: var(--bg);
		text-align: center;
		margin: 0;

		&>a {
			text-decoration: none;
		}
	}
}

.footnote-backref svg,
.callout svg,
.breadcrumbs svg {
	vertical-align: baseline;
}

.graybox {
	background-color: var(--box);
	border-radius: 1em;
	padding: 1em;

	& p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.card {
	border: 8px solid var(--box);
	border-radius: 1em;
	padding: 1em 2em;
	margin: 2em 0;
}

.tooltip {
	position: relative;

	& .tooltip-text {
		visibility: hidden;
		width: 120px;
		background-color: var(--bg);
		color: var(--text);
		text-align: center;
		font-size: 16px;
		padding: 5px 0;
		border: 4px solid var(--c);
		border-radius: 12px;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: all .3s;
		user-select: none;
	}

	&:hover .tooltip-text {
		visibility: visible;
		opacity: 1;
	}
}

.box-nav,
.tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1em;
	margin: 1em 0;

	&>a {
		background-color: var(--c);
		color: var(--bg);
		cursor: pointer;
		padding: .4em .6em;
		border-radius: .3em;
		text-decoration: none;
		transition: all .2s;
		user-select: none;

		&:hover {
			transform: translateY(-.3em);
			opacity: 1;
		}
	}
}

.character-button {
	line-height: initial;
}

.box-nav {
	justify-content: center;

	&>a {
		opacity: .5;

		&[aria-current] {
			opacity: 1;
		}
	}

	&.solid>a {
		opacity: 1;
	}
}

.tags {
	justify-content: flex-start;
	gap: .5em;

	&>a {
		font-size: var(--font-size-small);
	}
}

code {
	background-color: var(--box);
	border-radius: 6px;
	font-family: Consolas;
	padding: 3px 8px;
	overflow-wrap: anywhere;
}

.breadcrumbs {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size);
	gap: .5rem;
	margin: 2rem 0;
	line-height: 2;

	& span {
		height: 24px;
		user-select: none;
	}

	& svg {
		stroke: var(--text);
	}
}

.theme-toggle {
	position: absolute;
	z-index: 99;
	background-color: var(--c);
	border-radius: 999px;
	cursor: pointer;
	height: 36px;
	padding: 4px;
	transition: all .3s;
	width: 72px;
	bottom: 1em;
	right: 1em;
	box-shadow: 0 0 16px var(--c);

	&>div {
		align-items: center;
		background-color: var(--bg);
		border-radius: 999px;
		display: flex;
		height: 36px;
		justify-content: center;
		position: relative;
		transition: all .3s var(--bezier);
		width: 36px;

		& svg {
			stroke: var(--text);
		}
	}
}

ul {
	color: var(--text);
	font-size: var(--font-size);
	list-style: disc;
	padding-inline-start: 3em;
}

ol {
	color: var(--text);
	font-size: var(--font-size);
	padding-inline-start: 3em;
}

li {
	line-height: 2;
	margin: .5em 0;
}

hr {
	border: 0;
	border-bottom: 8px dashed var(--box);
	margin: 2em 0;
}

hr.solid-hr {
	border-style: solid;
}

.external-link::after {
	content: '☍';
}

.attr {
	border: 4px dashed var(--box);
	border-width: 8px 0;
	color: var(--text);
	font-size: var(--font-size);
	margin: 2em 0;
	padding: 1em 0;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1em;

	&>.tags {
		margin: 0;
	}

	&>p {
		margin-top: 0;
		margin-bottom: 0;
	}

	&>:nth-child(2n-1) {
		color: var(--c);
		font-weight: bold;
		text-align: right !important;
	}
}

.prev-next {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1em;

	& a {
		display: flex;
		align-items: center;
	}

	& svg {
		stroke: var(--text);
	}
}

@media only screen and (max-width: 480px) {
	p {
		text-align: left;
	}

	ul {
		padding-inline-start: 2em;
	}

	blockquote {
		margin: 1em 0;
		padding: 0 1em;
	}

	.attr {
		grid-template-columns: 1fr;

		&>:nth-child(2n-1) {
			text-align: left !important;
		}

		&>:nth-child(2n) {
			margin-left: 1em;
		}
	}

	.card {
		padding: 0 1em;
	}
}