@font-face {
	font-family: lexend;
	src: url(/The-Iron-Ragdoll/Lexend.ttf);
}

@font-face {
	font-family: lexend;
	src: url(/Lexend.ttf);
}

body {
	--font-size: 24px;
	background-attachment: fixed;
	background-color: var(--bg);
	background-size: cover;
	background-position: center;
	margin: 0;
	font-family: lexend;
}

body.dark {
	--text: #fff;
	--bg: #000;
	--c: #0cf;
	--box: #fff8;
}

body.light {
	--text: #000;
	--bg: #eee;
	--c: #0cf;
	--box: #0001;
}

h1 {
	color: var(--c);
	font-size: 2.5rem;
	font-weight: normal;
	line-height: 2;
	margin-bottom: .75em;
	margin-top: 1.25em;
}

h2 {
	color: var(--c);
	font-size: 2rem;
	font-weight: normal;
}

h3 {
	color: var(--c);
	font-size: 1.75rem;
	font-weight: normal;
}

p {
	color: var(--text);
	font-size: var(--font-size);
	font-weight: 300;
	line-height: 2;
	text-align: justify;
	text-indent: 2em;
}

a {
	color: var(--c);
	font-weight: 300;
	text-decoration: none;
}

i {
	font-style: normal;
}

a:hover {
	text-decoration: underline;
}

#header {
	color: var(--text);
	padding-top: 2em;
	text-align: center;
	width: 100%;
	user-select: none;
}

body.dark #header {
	background-image: linear-gradient(to top, #0000, #000);
}

#header a {
	color: var(--text);
}

#title {
	color: var(--text);
	font-size: 60px;
	margin: .5em;
	text-shadow: 0px 0px 10px #fff, 1px 1px 50px #fff, -1px -1px 50px #fff;
}

#linx {
	align-items: center;
	display: flex;
	font-size: 35px;
	margin: auto;
	width: fit-content;
}

#linx>a {
	margin: .5em;
	transition: text-shadow .3s;
}

#linx>.dpdn {
	margin: .5em;
}

#linx a:hover {
	text-shadow: 0px 0px 10px #fff, 1px 1px 50px #fff, -1px -1px 50px #fff;
}

.dpdn {
	display: inline-block;
}

.dpdn>a {
	cursor: default;
}

.dpdn-ul {
	background-color: var(--box);
	border-radius: 10px;
	display: none;
	font-size: var(--font-size);
	margin: 0;
	padding: 10px;
	position: absolute;
	z-index: 999;
}

.dpdn-ul a {
	display: block;
	padding: 10px 0 !important;
}

.dpdn:hover .dpdn-ul {
	display: block;
}

#main-content {
	margin: 2em auto;
	max-width: 800px;
	padding: 0 2em;
}

#translation {
	font-family: 微软雅黑 light;
	height: fit-content;
	margin: 90px 2em;
	position: sticky;
	top: 30px;
	width: 250px;
	z-index: -999;
}

.graybox {
	background-color: var(--box);
	border-radius: 16px;
	padding: 1em;
}

.graybox p:first-child {
	margin-top: 0;
}

.graybox p:last-child {
	margin-bottom: 0;
}

.tooltip {
	position: relative;
}

.tooltip .tooltip-text {
	background-color: var(--box);
	border-radius: 6px;
	bottom: 120%;
	color: var(--text);
	font-size: 16px;
	font-weight: 800;
	left: 50%;
	margin-left: -66px;
	opacity: 0;
	padding: 6px;
	position: absolute;
	text-align: center;
	text-shadow: none;
	transition: all .3s;
	user-select: none;
	width: 120px;
	z-index: 1;
}

.tooltip .tooltip-text::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--box) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
	font-weight: 300;
	opacity: 1;
}

.collapsible {
	cursor: pointer;
}

.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s ease-out;
}

.collapsible-content>*:first-child {
	margin-top: 0;
}

.collapsible-content>*:last-child {
	margin-bottom: 0;
}

.character-button {
	background-color: var(--c);
	border-radius: .5rem;
	display: block;
	font-size: 20px;
	font-weight: 300;
	padding: 0.5rem 0.7rem;
	text-indent: 0;
	text-shadow: none !important;
	user-select: none;
}

ul {
	color: var(--text);
	font-size: var(--font-size);
	font-weight: 300;
	list-style: disc;
	padding-inline-start: 2em;
}

ul li {
	line-height: 2;
	margin: .5em 0;
}

@media only screen and (max-width: 620px) {
	#linx {
		flex-direction: column;
	}
}

@media only screen and (max-width: 480px) {
	p {
		text-align: left;
		text-indent: 0;
	}

	ul {
		padding-inline-start: 1em;
	}
}