@font-face {
	font-family: lexend;
	src: url(/The-Iron-Ragdoll/Lexend.ttf);
}

@font-face {
	font-family: lexend;
	src: url(/Lexend.ttf);
}

& {
	interpolate-size: allow-keywords;
}

body {
	--font-size: clamp(18px, 3vw, 24px);
	background-attachment: fixed;
	background-color: var(--bg);
	background-size: cover;
	background-position: center;
	color: var(--text);
	font-family: lexend;
	hyphens: auto;
	margin: 0;
}

body.dark {
	--text: #fff9f2;
	--bg: #121212;
	--c: #ffd8a8;
	--box: #fff8;
}

body.light {
	--text: #121212;
	--bg: #fff9f2;
	--c: #e56b6f;
	--box: #0001;
}

h1 {
	color: var(--text);
	font-size: clamp(1.5rem, 5vw, 2.5rem);
	/* font-size: 2.5rem; */
	line-height: 2;
	margin-bottom: .75em;
	margin-top: 1.25em;
}

h2 {
	color: var(--text);
	font-size: clamp(1.3rem, 4vw, 2rem);
	/* font-size: 2rem; */
	line-height: 2;
}

h3 {
	color: var(--text);
	font-size: clamp(1rem, 3.5vw, 1.75rem);
	/* font-size: 1.75rem; */
	line-height: 2;
}

p {
	color: var(--text);
	font-size: var(--font-size);
	line-height: 2;
	text-align: justify;
	text-indent: 2em;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--c);
}

a:hover {
	color: var(--c);
}

img {
	display: block;
	height: 100%;
	margin: 1em auto;
	width: 100%;
}

.buttons img {
	width: 88px;
	height: 31px;
	margin: 0;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	justify-content: center;
}

smallweb-subway-comics {
	text-indent: 0;
}

blockquote {
	font-style: italic;
	margin: 1em 2em;
	padding: 2em;
	position: relative;
	text-indent: 0;
}

blockquote::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 20%;
	border-top: 4px solid var(--box);
	border-left: 4px solid var(--box);
}

blockquote::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20%;
	height: 20%;
	border-bottom: 4px solid var(--box);
	border-right: 4px solid var(--box);
}

blockquote p:first-child {
	margin-top: 0;
}

blockquote p:last-child {
	margin-bottom: 0;
}

pre {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1rem;
	background-color: var(--box);
	color: var(--text);
	font-size: var(--font-size);
	border-radius: 12px;
}

pre code {
	background-color: transparent;
}

.footnote-ref a {
	text-decoration: none;
}

.footnote-backref {
	text-decoration: none;
	vertical-align: middle;
}

.footnotes-list {
	font-size: var(--font-size);
}

.footnotes-list p {
	text-indent: 0;
}

::marker {
	color: var(--text);
}

#header {
	color: var(--text);
	padding-top: 2em;
	text-align: center;
	width: 100%;
	user-select: none;
}

#header a {
	color: var(--text);
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}

#title {
	color: var(--text);
	font-size: clamp(32px, 5vw, 60px);
	margin: .5em;
}

body.dark #title {
	text-shadow: 0px 0px 10px #fff, 1px 1px 50px #fff, -1px -1px 50px #fff;
}

#linx {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: clamp(20px, 3vw, 32px);
	justify-content: center;
	margin: auto;
	width: fit-content;
}

#linx>a {
	margin: .5em;
}

#linx>.dpdn {
	margin: .5em;
}

body.dark #linx a:hover {
	text-shadow: 0px 0px 10px #fff, 1px 1px 50px #fff, -1px -1px 50px #fff;
}

.dpdn {
	display: inline-block;
}

.dpdn>a {
	cursor: default;
}

.dpdn-ul {
	background-color: var(--box);
	border-radius: 10px;
	display: none;
	font-size: var(--font-size);
	margin: 0;
	padding: 10px;
	position: absolute;
	z-index: 999;
}

.dpdn-ul a {
	display: block;
	font-size: clamp(16px, 2.5vw, 24px);
	padding: 10px 0 !important;
}

.dpdn:hover .dpdn-ul {
	display: block;
}

#footer {
	border-top: 12px solid var(--box);
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#footer a {
	text-decoration: none;
}

#footer h3 {
	color: var(--c);
	margin: 0;
}

#footer-linx {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem 0;
	max-width: 800px;
	justify-content: space-around;
}

#footer-linx img {
	width: 88px;
	height: 31px;
}

#footer-linx ul {
	list-style: none;
	margin: 0;
	width: fit-content;
}

#footer-side {
	margin: 2rem;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
}

#footer-controls {
	display: flex;
	gap: 2rem;
	justify-content: flex-end;
}

#back-to-top {
	display: flex;
	width: 44px;
	height: 44px;
	justify-content: center;
	align-items: center;
	background-color: var(--box);
	border-radius: 999px;
}

#back-to-top a {
	height: 24px;
	width: 24px;
}

#back-to-top a:hover {
	color: var(--text);
}

#footer-warning h3 {
	text-align: right;
}

#footer-warning p {
	text-indent: 0;
	text-align: right;
}

@media only screen and (max-width: 1230px) {
	#footer {
		flex-direction: column-reverse;
		align-items: flex-end;
	}
	#footer-linx {
		max-width: 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 540px) {
	#footer-side {
		align-items: flex-start;
		margin-bottom: 0;
	}
	#footer-warning h3, #footer-warning p {
		text-align: left;
	}
	#footer-linx {
		flex-direction: column;
		margin: 0;
	}
}

@media only screen and (max-width: 480px) {
	#footer-linx ul {
		padding-inline-start: 2em;
	}
}

#main-content {
	margin: 2em auto;
	max-width: 800px;
	padding: 0 2em;
}

#translation {
	font-family: 微软雅黑 light;
	height: fit-content;
	margin: 90px 2em;
	position: sticky;
	top: 30px;
	width: 250px;
	z-index: -999;
}

.graybox {
	background-color: var(--box);
	border-radius: 16px;
	padding: 1em;
}

.graybox p:first-child {
	margin-top: 0;
}

.graybox p:last-child {
	margin-bottom: 0;
}

.tooltip {
	position: relative;
}

.tooltip .tooltip-text {
	visibility: hidden;
	width: 120px;
	background-color: var(--box);
	color: var(--text);
	text-align: center;
	font-size: 16px;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: all .3s;
	user-select: none;
}

.tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--box) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.collapsible {
	cursor: pointer;
}

.collapsible-content {
	height: 0;
	overflow: hidden;
	transition: all .3s ease-in-out;
}

.collapsible-content.collapsible-active {
	height: auto;
}

.collapsible-content>*:first-child {
	margin-top: 0;
}

.collapsible-content>*:last-child {
	margin-bottom: 0;
}

.character-button {
	background-color: var(--c);
	border-radius: .5rem;
	display: block;
	font-size: 20px;
	padding: 0.5rem 0.7rem;
	text-indent: 0;
	text-shadow: none !important;
	user-select: none;
}

code {
	background-color: var(--box);
	border-radius: 6px;
	font-family: Consolas;
	padding: 3px 8px;
}

.breadcrumbs {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size);
	gap: .5rem;
	margin: 2rem 0;
}

.breadcrumbs span {
	height: 24px;
	user-select: none;
}

.breadcrumbs svg {
	stroke: var(--text);
}

#theme-toggle {
	background-color: var(--c);
	border-radius: 999px;
	cursor: pointer;
	height: 36px;
	padding: 4px;
	position: relative;
	transition: all .3s;
	width: 72px;
}

#button {
	align-items: center;
	background-color: var(--bg);
	border-radius: 999px;
	display: flex;
	height: 36px;
	justify-content: center;
	position: relative;
	transition: all .3s cubic-bezier(0, 1, 0, 1.5);
	width: 36px;
}

body.light #button {
	left: 0px;
}

body.dark #button {
	left: 36px;
}

#button svg {
	stroke: var(--text);
}

body.dark #button svg:first-child {
	display: none;
}

body.light #button svg:first-child {
	display: block;
}

body.dark #button svg:last-child {
	display: block;
}

body.light #button svg:last-child {
	display: none;
}

ul {
	color: var(--text);
	font-size: var(--font-size);
	list-style: disc;
	padding-inline-start: 2em;
}

ol {
	color: var(--text);
	font-size: var(--font-size);
	padding-inline-start: 2em;
}

ul li {
	line-height: 2;
	margin: .5em 0;
}

hr {
	border: 0;
	border-bottom: 4px solid var(--box);
}

/* @media only screen and (max-width: 620px) {
	#linx {
		flex-direction: column;
	}
} */

@media only screen and (max-width: 480px) {
	p {
		text-align: left;
		text-indent: 0;
	}

	ul {
		padding-inline-start: 1em;
	}
}