@font-face {
	font-family: lexend;
	src: url(/The-Iron-Ragdoll/Lexend.ttf);
}
@font-face {
	font-family: lexend;
	src: url(/Lexend.ttf);
}
:root {
	--text: #fff;
	--blue: #0cf;
	--box: #fff8;
}
body {
	background-attachment: fixed;
	background-color: #000;
	background-size: cover;
	background-position: center;
	margin: 0;
	font-family: lexend;
}
h1 {
	color: var(--blue);
	font-size: 2.5em;
	line-height: 1.5;
	margin-bottom: .75em;
	margin-top: 1.25em;
}
h2 {
	color: var(--text);
	font-size: 2em;
}
p {
	color: var(--text);
	font-size: 24px;
	line-height: 1.5;
	text-align: justify;
}
p a {
	color: var(--blue);
}
i {
	font-style: normal;
}
a {
	color: var(--text);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#header {
	background-image: linear-gradient(to top, #0000, #000);
	color: #fff;
	padding-top: 2em;
	text-align: center;
	width: 100%;
	user-select: none;
}
#title {
	color: var(--text);
	font-size: 60px;
	margin: .5em;
	text-shadow: 0px 0px 10px #fff, 1px 1px 50px #fff, -1px -1px 50px #fff;
}
#linx {
	align-items: center;
	display: flex;
	font-size: 35px;
	margin: auto;
	width: fit-content;
}
#linx > a {
	margin: .5em;
	transition: text-shadow .3s;
}
#linx > .dpdn {
	margin: .5em;
}
#linx a:hover {
	text-shadow: 0px 0px 10px #fff, 1px 1px 50px #fff, -1px -1px 50px #fff;
}
.dpdn {
	display: inline-block;
}
.dpdn > a {
	cursor: default;
}
.dpdn-ul {
	background-color: var(--box);
	border-radius: 10px;
	display: none;
	font-size: 24px;
	margin: 0;
	padding: 10px;
	position: absolute;
	z-index: 999;
}
.dpdn-ul a {
	display: block;
	padding: 10px 0 !important;
}
.dpdn:hover .dpdn-ul {
	display: block;
}
#flexbox {
	display: flex;
	margin: 0 auto 1em auto;
	padding: 2em;
}
#translation {
	font-family: 微软雅黑 light;
	height: fit-content;
	margin: 90px 2em;
	position: sticky;
	top: 30px;
	width: 250px;
	z-index: -999;
}
#comic {
	margin: auto;
	margin-bottom: 2em;
	width: 800px;
}
.graybox {
	background-color: var(--box);
	border-radius: 15px;
	padding: 1em;
}
.graybox p:first-child {
	margin-top: 0;
}
.graybox p:last-child {
	margin-bottom: 0;
}
.tooltip {
	position: relative;
}
.tooltip .tooltip-text {
	background-color: var(--box);
	border-radius: 6px;
	bottom: 100%;
	color: var(--text);
	font-size: 16px;
	left: 50%;
	margin-left: -66px;
	opacity: 0;
	padding: 6px;
	position: absolute;
	text-align: center;
	transition: all .3s;
	width: 120px;
	z-index: 1;
}
.tooltip .tooltip-text::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--box) transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
	opacity: 1;
}
.collapsible {
	cursor: pointer;
}
.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s ease-out;
}
.collapsible-content > p:first-child {
	margin-top: 0;
}
.collapsible-content > p:last-child {
	margin-bottom: 0;
}
.character-button {
	background-color: var(--c);
	border-radius: .5rem;
	display: block;
	font-size: 20px;
	padding: 0.5rem 0.7rem;
	user-select: none;
}
@media only screen and (max-width: 620px) {
	#linx {
		flex-direction: column;
	}
}
@media only screen and (max-width: 480px) {
	p {
		text-align: left;
	}
}