---
layout: article.liquid
title: Steps Calculator
desc: See how many steps there are between two characters!
eleventyNavigation:
  parent: Fun
---
<style>
    .results {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-size: var(--font-size);
        gap: .5rem;
        margin: 2rem 0;
        line-height: 2;
    }
</style>
<div class="flex-around">
    <p>Character 1: <select name="ch1" class="select"></select></p>
    <p>Character 2: <select name="ch2" class="select"></select></p>
</div>
<button onclick="calculate()">Calculate!</button>
<div id="results"></div>
<button id="facts-button" onclick="facts()">Get interesting facts!</button>
<div id="facts"></div>
<script src="./data.js"></script>
<script src="/js/steps.js"></script>
