---
layout: layout.liquid
title: Links
eleventyNavigation:
  key: Links
  parent: Misc
---
<link rel="stylesheet" type="text/css" href="https://file.garden/ZrZSgsrYfQXsO7QH/ww/webmasterwebring.css">

<h1>Buttons and Webrings</h1>

<div class="buttons">
  <img alt="Hosted by Neocities" src="/img/bg/hostedbyneocities.png"/>
  <img alt="I was on Cohost" src="/img/bg/iwasoncohost.gif"/>
  <a href="https://homestuck.com"><img alt="Homestuck" src="/img/bg/homestuck.png"/></a>
  <a href="https://kalechips.net/responsive/index"><img alt="Responsive webring" src="/img/bg/responsive.png"/></a>
  <a href="http://neocreatives.byethost5.com"><img alt="Neocreatives webring" src="/img/bg/neocreatives.png"/></a>
  <a href="https://smoothsailing.asclaria.org"><img alt="Smooth Sailings Listings" src="/img/bg/smoothsailings.png"/></a>
  <a href="https://list-me.com"><img alt="List me" src="/img/bg/linkme.png"/></a>
  <a href="https://linklane.net"><img alt="Link lane" src="/img/bg/linklane.png"/></a>
  <a href="https://numbersstory.com"><img alt="Numbers Story" src="/img/bg/numbersstory.png"/></a>
  <a href="https://dptr.nekoweb.org"><img alt="Departure" src="/img/bg/dptr.gif"/></a>
  <a href="https://midgetsausage.neocities.org/cooperbullet"><img alt="Cooper Bullet" src="/img/bg/cooperbullet.gif"/></a>
  <a href="https://icecreampizzer.art/"><img alt="Ice Cream Pizzer" src="/img/bg/pizzer.gif"/></a>
  <a href="https://melvian.xyz"><img alt="Melvian" src="/img/bg/melvian.png"/></a>
  <a href="https://leilukin.com"><img alt="Leilukin's Hub" src="/img/bg/leilukinshub.png"/></a>
  <a href="https://glykon.neocities.org"><img alt="Glykon" src="/img/bg/glykon.png"/></a>
  <a href="https://visionaryparacosmos.neocities.org"><img alt="Visionary Paracosmos" src="/img/bg/visionaryparacosmos.png"/></a>
  <a href="https://jadeevergreen.com"><img alt="Jade Evergreen" src="/img/bg/jadeevergreen.png"/></a>
</div>

<p>Link to my site!</p>

<div class="buttons"><img alt="The Iron Ragdoll" src="/img/bg/88x31.gif"/></div>

<img class="max" alt="The Iron Ragdoll banner" src="/img/bg/468x60.png"/>

<p>Some webrings may not display on Neocities. Sorry! That's just how the ring is made. Go <a href="https://tofutush.github.io/The-Iron-Ragdoll/about">here</a> instead.</p>

<div id="oc-webring-widget">
    <div id="oc-webring-title"><a href="https://tofutush.github.io/oc-webring">OC Webring</a></div>
    <div id="oc-webring-controls">
        <a href="https://tofutush.github.io/oc-webring/prev/?site=The Iron Ragdoll（铁打洋娃娃）">Previous</a>
        <a href="https://tofutush.github.io/oc-webring/rand/?site=The Iron Ragdoll（铁打洋娃娃）">Random</a>
        <a href="https://tofutush.github.io/oc-webring/next/?site=The Iron Ragdoll（铁打洋娃娃）">Next</a>
    </div>
</div>
<link rel="stylesheet" href="https://webcomicring.org/js/comicring.css">
<div id='webcomicwebring'>
  <script type="text/javascript" src="https://webcomicring.org/js/comicring-variables.js"></script>
  <script type="text/javascript" src="https://webcomicring.org/js/comicring-widget.js"></script>
</div>

<div id='focusfirst-webring'>
  <script type="text/javascript" src="https://www.beepbird.net/webring/onionring-variables.js"></script>
  <script type="text/javascript" src="https://www.beepbird.net/webring/onionring-widget.js"></script>
  <noscript><a href='https://www.beepbird.net/index.html'><img src="https://www.beepbird.net/webring/focusfirst.png" alt="Focus First Index"></a></noscript>
</div>

<script src="https://gusbus.space/smallweb-subway.js/comics.js"></script>
<smallweb-subway-comics></smallweb-subway-comics>

<iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;" src="https://webring.bucketfish.me/embed.html?name=The Iron Ragdoll"></iframe>

<script defer src="https://mechagic.party/1stylescripts/gitgudring.js"></script>

<a href="https://webmasterwebring.netlify.app?tir-previous">{% lucide 'chevron-left' %}</a> <a href="https://webmasterwebring.netlify.app">Webmaster Webring</a> <a href="https://webmasterwebring.netlify.app?tir-next">{% lucide 'chevron-right' %}</a>