---
layout: world.liquid
title: Timeline
titlezh: 时间线
desc: A timeline of events!
tags: lore
categories:
  - Lore
widepage: true
eleventyNavigation:
  parent: World
---
<div id="visualization"></div>
<script src="/js/vis-timeline-graph2d.min.js"></script>
<script src="data.js"></script>
<script>
const container = document.getElementById("visualization");
const options = {
    height: '600px',
    horizontalScroll: true,
    horizontalScrollKey: 'shiftKey',
    verticalScroll: true,
    zoomKey: 'ctrlKey'
};
const timeline = new vis.Timeline(container, items, options);
</script>