---
title: Timeline
desc: "A timeline of events! Warning: long, messy file."
tags: lore
categories:
  - Lore
eleventyNavigation:
  parent: World
---
<style>
	dt>p {
		text-align:right;
	}
	dl>dt>p:first-child,
	dl>dd>p:first-child {
		margin-top: 0;
	}
	dl>dt>p:last-child,
	dl>dd>p:last-child {
		margin-bottom: 0;
	}
	@media only screen and (max-width: 480px) {
		dl>dt>p,
		dl>dd>p {
			text-align:left !important;
		}
	}
</style>
{{ timeline | log }}
<p>This is a cheesy port of my Aeon Timeline project! Because of this, I can't add any links, some characters don't exist (like Jackal and "Peacock's parents"), and events with both a start and end are displayed rather awkwardly. But at last, everything I have on TIR is on the website. I am hiding nothing from you! (I'd be such a terrible spy LMAO)</p>
<p>This might just be the longest page in the website, but it has a really short file.</p>
<p><strong>Having issues with the new update to Aeon Timeline breaking the export, so some events may be missing from the timeline.</strong></p>
<dl>
	{% for item in timeline %}
		<dt><p>{{ item.time }}</p></dt>
		<dd>
			<p>{{ item.label }}</p>
			{% if item.participants %}
				<p class="tags">
					{% for ch in item.participants %}
						{% include 'chButton', ch: ch %}
					{% endfor %}
				</p>
			{% endif %}
		</dd>
	{% endfor %}
</dl>
<p><em>You found a puzzle piece: <strong>tc</strong>! Next clue: the tale of a 3rd gen immigrant. <a href="/fun/hunt/">What is this?</a></em></p>