---
layout: layout.vto
title: Tags
desc: Character tags.
eleventyNavigation:
  key: Tags
  parent: Characters
  order: 1
---

<h1>Tags</h1>
<ul>
	{{ for tag of tagsplot }}
		<li><a href="{{ tag |> slug }}/">{{ lucide 'tags' }} {{ tag }}</a></li>
	{{ /for }}
</ul>
