---
layout: chs.liquid
pagination:
  data: tagsplot
  size: 1
  alias: tagName
  addAllPagesToCollections: true
permalink: "characters/tag/{{ tagName | slug }}/"
eleventyNavigation:
  parent: "chs-tags"
eleventyComputed:
  displayTitle: "Tag: {{ tagName }}"
  title: "{{ tagName }}"
  key: "chs-{{ tagName }}"
---
{% assign filteredChs = characters | filterChByTag: tagName %}
{% include 'chs', chs: filteredChs %}
{% assign slugged = tagName | slug %}
{% if collections[slugged] %}
  <h2>Related files</h2>
  <ul>
    {% for file in collections[slugged] %}
      {% include 'fileLi', file: file %}
    {% endfor %}
  </ul>
{% endif %}