---
eleventyExcludeFromCollections: true
permalink: "404.html"
title: 404
---

<style>
	html {
		background-color: #121212;
	}
	.fourofour {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>

<div class="fourofour">
	{% image "gallery/" "404.png" 500 "" %}
</div>