---
layout: layout.liquid
title: Chapters
desc: Table of contents.
---

{% for ch in chapters %}
	<div class="chapter">
		<a href="../page-{{ ch.pagenum }}/">{{ ch.title }}</a>
		<div class="dot-line"></div>
		<p>{{ ch.pagenum }}</p>
	</div>
	<p class="chapter-desc">{{ ch.desc }}</p>
{% endfor %}