---
layout: layout.liquid
title: Contact
desc: Send me a message.
eleventyNavigation:
  key: Contact
  parent: Root
---

<h1>Contact</h1>
<p>Send me a message! (Code by <a href="https://goblin-heart.net/sadgrl/learn/articles/create-webform-discord">Sadgrl</a>: <a href="https://codepen.io/sadness97/pen/YzEgxox">Codepen</a>)</p>
<form id="form">
	<p><input type="text" id="name" maxlength="24" placeholder="Name (optional)"/></p>
	<p><input type="email" id="email" placeholder="Email (optional)"/></p>
	<input type="text" id="message" minlength="0" maxlength="500" placeholder="Put your comment here and click &quot;Send&quot;!" required></input>
	<input type="submit" value="Send"/>
</form>

<script>
document.getElementById('form').addEventListener('submit', e => {
	e.preventDefault();
	console.log('sent');
	
	let request = new XMLHttpRequest();
	request.open("POST", "https://discord.com/api/webhooks/1298468462414270496/UEQEB0zQpGbRYyfRkMSIJbf0zdNyX2w7HTzxB1qOk3rRp8GdA_PBxmc9CL5V-bdnWjEa");
	request.setRequestHeader('Content-type', 'application/json');
	var params = {
		username: `Messgae from: ${document.getElementById('name').value || 'Anonymous'}`,
		content: `Email: ${document.getElementById('email').value || 'Not provided'}\nFrom: ${window.location.href}\nMessage: ${document.getElementById('message').value}`,
	}
	request.send(JSON.stringify(params));
	alert('Thank you!');
	window.location.reload();
});
</script>