---
layout: layout.liquid
title: Gallery
desc: A bunch of pictures I drew.
eleventyNavigation:
  key: Gallery
  parent: Root
  order: 2
---
<link rel="stylesheet" href="/css/gallery.css"/>
<div id="tags">
  <h1 class="collapsible" target="#filter"><a>Filter</a></h1>
  <div id="filter" class="collapsible-content">
    <p>Press shift to multi-select</p>
    <div class="tags">
      {% for tag in tags %}
        <div name="{{ tag }}">{{ tag }}</div>
      {% endfor %}
    </div>
  </div>
</div>
{% include 'gallery' imgs: gallery %}
<script src="/js/gallery.js"></script>
<script src="/js/gallerytags.js"></script>
