---
layout: layout.liquid
title: Gallery
desc: A bunch of pictures I drew.
---

<div id="tags">
	<h1 class="collapsible" target="#tags">Tags</h1>
	<div id="tags" class="collapsible-content">
		<p>Press shift to multi-select</p>
		<div class="tags">
			{% for tag in tags %}
				<div name="{{ tag }}">{{ tag }}</div>
			{% endfor %}
		</div>
	</div>
</div>
{% include 'gallery' imgs: gallery %}
<script src="/js/gallery.js"></script>
<script src="/js/gallerytags.js"></script>
