---
layout: layout.liquid
title: Gallery
desc: A bunch of pictures I drew.
eleventyNavigation:
  key: Gallery
  parent: Root
  order: 2
---
<link rel="stylesheet" href="/css/gallery.css"/>
<link rel="stylesheet" href="/css/filter.css"/>
{% comment %} <div id="tags">
  <h1 class="collapsible" target="#filter"><a>Filter</a></h1>
  <div id="filter" class="collapsible-content">
    <p>Press shift to multi-select</p>
    <div class="tags">
      {% for tag in tags %}
        <div name="{{ tag | lowerCase }}">{{ tag }}</div>
      {% endfor %}
    </div>
  </div>
</div> {% endcomment %}
{% for year in (2023..2024) reversed %}
  {% for month in (1..12) reversed %}
    {% assign paddedMonth = month | padStart: 2, '0' %}
    {% assign yearMonth = year | append: '-' | append: paddedMonth %}
    {% assign filteredGallery = gallery | filterGalleryByDate: yearMonth %}
    {% if filteredGallery.size > 0 %}
      <h2>{{ yearMonth }}</h2>
      {% include 'gallery' imgs: filteredGallery %}
    {% endif %}
  {% endfor %}
{% endfor %}
<script src="/js/gallery.js"></script>
