---
layout: layout.liquid
title: Home
eleventyNavigation:
  key: Root
  title: Home
---

<h1 style="text-align: center;">Welcome to the world of The Iron Ragdoll!</h1>
{% image 'gallery/' 'cms friends.png' 1000 'Coastline Middle School friends' 'max' %}
<p>Hi, I'm Tofutush! Thanks for visiting this little webbed site. I hope you have fun!</p>
<p>The Iron Ragdoll is my paracosm that I adore and want to share with you. Explore below!</p>
