@font-face {
	font-family: josefin;
	src: url(JosefinSans.ttf);
}
@font-face {
	font-family: josefin;
	src: url(JosefinSans-Italic.ttf);
	font-style: italic;
}
body {
	background-color: #aaa;
	margin: 0;
	font-family: josefin;
}
#header {
	background-image: linear-gradient(to top, #0000, #000);
	color: #fff;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}
#title {
	font-size: 60px;
	margin: 20px;
}
#linx {
	font-size: 35px;
	margin: 15px;
}
#linx a {
	padding: 20px;
}
#comic {
	margin: auto;
	max-width: 800px;
}
#img {
	margin: auto;
}
#comic img {
	width: 100%;
}
.options {
	display: flex;
	font-size: 30px;
	justify-content: space-around;
	margin: 30px 0;
	width: 100%;
}
.options a {
	cursor: pointer;
	color: #000;
}
.noclick {
	cursor: not-allowed !important;
}