---
layout: article.liquid
title: Relationships
desc: A graph of character relationships!
widepage: true
eleventyNavigation:
  parent: Characters
  order: 3
---
<style>
#wrapper {
  border: 12px solid var(--box);
  border-radius: 2em;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
#graph {
  background-color: var(--bg);
}
#fullscreen {
  position: absolute;
  top: .5em;
  right: .5em;
  background-color: var(--box);
  padding: .5em;
  display: flex;
}
</style>
<p>No idea why I did this but it was fun.</p>
<p>Try hovering over things, zooming and panning, and clicking on them leads to their profiles!</p>
<p>My end goal is to have every character connected — leave no orphans or clusters. They're all gonna lead to Sparky someday.</p>
<p>Here you can focus on one character and the characters surrounding them. Don't drag the slider too quickly, or the thing will start to lag because my code is completely unoptimized! Yay!</p>
<div class="flex-around">
  <p style="margin: 0;">Focus on: <select id="chInput" name="ch" value="none">
    <option value="none">None</option>
    {% for ch in characters %}
      <option value="{{ ch.name }}">{{ ch.name }}</option>
    {% endfor %}
  </select></p>
  <p style="margin: 0;">Depth <span id="depth">1</span>: <input id="depthInput" type="range" min="1" max="10" value="1"/></p>
  <label for="hide-minor"><input type="checkbox" id="hide-minor"/> Hide minor relationships</label>
</div>
<p style="text-align: center;">Displaying <span id="chNum"></span> with <span id="linkNum"></span> between them.</p>
<div id="wrapper">
  <button id="fullscreen" title="Fullscreen mode" onclick="document.getElementById('graph').requestFullscreen()">{% lucide 'maximize-2' %}</button>
  <svg id="graph"></svg>
</div>
<p>Interested in how the characters are connected? See the <a href="/fun/steps/">Steps Calculator</a>!</p>
<hr/>
<p><i>You found a puzzle piece: <b>kdipj</b>! Next clue: a map in all but name. (<a href="/fun/hunt/">What is this?</a>)</i></p>
<script src="/js/d3@7.js"></script>
<script src="./data.js"></script>
<script src="/js/graph.js"></script>
