---
layout: article.liquid
title: Relationships
desc: A graph of character relationships!
widepage: true
eleventyNavigation:
  parent: Characters
---
<style>
#wrapper {
  border: 12px solid var(--box);
  border-radius: 2em;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
</style>
<p>No idea why I did this but it was fun.</p>
<p>Try hovering over things, zooming and panning, and clicking on them leads to their profiles!</p>
<p>My end goal is to have every character connected — leave no orphans or clusters. They're all gonna lead to Sparky someday.</p>
<div id="wrapper">
  <svg id="graph"></svg>
</div>
<p><i>You found a puzzle piece: <b>kdipj</b>! Next clue: a map in all but name. (<a href="/fun/hunt/">What is this?</a>)</i></p>
<script src="/js/d3@7.js"></script>
<script src="./data.js"></script>
<script src="/js/graph.js"></script>
