---
layout: layout.liquid
title: Links
eleventyNavigation:
  parent: Misc
---
<link rel="stylesheet" type="text/css" href="https://file.garden/ZrZSgsrYfQXsO7QH/ww/webmasterwebring.css">

<h1>Buttons and Webrings</h1>

<div class="buttons">
  <a href="https://status.cafe/users/tofutush"><img src="https://status.cafe/users/tofutush/badge.png" alt="Status Cafe Profile"/></a>
  <img alt="Hosted by Neocities" src="/img/bg/hostedbyneocities.png"/>
  <img alt="I was on Cohost" src="/img/bg/iwasoncohost.gif"/>
  <a href="https://homestuck.com"><img alt="Homestuck" src="/img/bg/homestuck.png"/></a>
  <a href="https://kalechips.net/responsive/index"><img alt="Responsive webring" src="/img/bg/responsive.png"/></a>
  <a href="http://neocreatives.byethost5.com"><img alt="Neocreatives webring" src="/img/bg/neocreatives.png"/></a>
  <a href="https://smoothsailing.asclaria.org"><img alt="Smooth Sailings Listings" src="/img/bg/smoothsailings.png"/></a>
  <a href="https://list-me.com"><img alt="List me" src="/img/bg/linkme.png"/></a>
  <a href="https://linklane.net"><img alt="Link lane" src="/img/bg/linklane.png"/></a>
  <a href="https://numbersstory.com"><img alt="Numbers Story" src="/img/bg/numbersstory.png"/></a>
  <a href="https://web-surfer.neocities.org/"><img alt="The Wondrous Web-Surfer" src="/img/bg/twws.png"/></a>
  <a href="https://dptr.nekoweb.org"><img alt="Departure" src="/img/bg/dptr.gif"/></a>
  <a href="https://midgetsausage.neocities.org/cooperbullet"><img alt="Cooper Bullet" src="/img/bg/cooperbullet.gif"/></a>
  <a href="https://icecreampizzer.art/"><img alt="Ice Cream Pizzer" src="/img/bg/pizzer.gif"/></a>
  <a href="https://melvian.xyz"><img alt="Melvian" src="/img/bg/melvian.png"/></a>
  <a href="https://glykon.neocities.org"><img alt="Glykon" src="/img/bg/glykon.png"/></a>
  <a href="https://visionaryparacosmos.neocities.org"><img alt="Visionary Paracosmos" src="/img/bg/visionaryparacosmos.png"/></a>
  <a href="https://jadeevergreen.com"><img alt="Jade Evergreen" src="/img/bg/jadeevergreen.png"/></a>
  <a href="https://forestwalk.nekoweb.org/"><img alt="Forestwalk" src="/img/bg/forestwalk.png"/></a>
  <a href="https://kuroi.neocities.org/"><img alt="KuroiOS" src="/img/bg/kuroi.png"/></a>
  <a href="https://squidknees.net/"><img alt="Squidknees" src="/img/bg/squidknees.png"/></a>
  <a href="https://kunfucutsman.neocities.org/"><img alt="KFCMan" src="/img/bg/kfcman.png"/></a>
  <a href="https://lockheartlove.neocities.org/"><img alt="Lockheart Love" src="/img/bg/lockheartlove.png"/></a>
  <a href="https://entropically.neocities.org"><img alt="Entropically" src="/img/bg/entropically.png"/></a>
  <a href="https://nicegirlslumber.neocities.org/"><img alt="nicegirlslumber" src="/img/bg/nicegirlslumber.png"/></a>
  <a href="https://theoliveoli.blahaj.land/"><img alt="TheOliveOli" src="/img/bg/theoliveoli.png"/></a>
  <a href="https://zhongvie.neocities.org/"><img alt="zhongvie" src="/img/bg/zhongvie.png"/></a>
  <a href="https://bntarwarn.com/"><img alt="bntarwarn" src="/img/bg/bntarwarn.png"/></a>
  <a href="https://badgraph1csghost.neocities.org/"><img alt="badgraph1csghost" src="/img/bg/badgraph1csghost.png"/></a>
  <a href="https://swiftred.neocities.org/"><img alt="swiftred" src="/img/bg/SwiftRed.jpg"/></a>
</div>
<ul>
  <li><a href="https://takeoverse.neocities.org/">The Takeoverse!</a></li>
</ul>
<p>Link to my site!</p>

<div class="buttons"><img alt="The Iron Ragdoll" src="/img/bg/88x31.gif"/></div>

<img class="max" alt="The Iron Ragdoll banner" src="/img/bg/468x60.png"/>

<p>Some webrings may not display on Neocities. Sorry! That's just how the ring is made. Go <a href="https://tofutush.github.io/The-Iron-Ragdoll/about">here</a> instead.</p>
<style>
.oc-webring-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
  width: fit-content;
  gap: 1em;
  border: 4px solid var(--c);
  padding: 1em;
  border-radius: 12px;
}

.oc-webring-title {
  font-weight: bold;
}

.oc-webring-controls {
  display: flex;
  gap: 1em;
}
</style>
<div class="oc-webring-widget">
    <div class="oc-webring-title"><a href="https://tofutush.github.io/oc-webring">OC Webring</a></div>
    <div class="oc-webring-controls">
        <a href="https://tofutush.github.io/oc-webring/prev/?site=The Iron Ragdoll（铁打洋娃娃）">previous</a>
        <a href="https://tofutush.github.io/oc-webring/rand/?site=The Iron Ragdoll（铁打洋娃娃）">random</a>
        <a href="https://tofutush.github.io/oc-webring/next/?site=The Iron Ragdoll（铁打洋娃娃）">next</a>
    </div>
</div>
<div class="oc-webring-widget">
    <div class="oc-webring-title"><a href="https://daisy.nekoweb.org/webring">bolognese webring</a></div>
    <div class="oc-webring-controls">
        <a href="https://spagwhetti.github.io/redirect.html?to=prev&name=Tofutush">previous</a>
        <a href="https://spagwhetti.github.io/redirect.html?to=random&name=Tofutush">random</a>
        <a href="https://spagwhetti.github.io/redirect.html?to=next&name=Tofutush">next</a>
    </div>
</div>
<div class="oc-webring-widget">
    <div class="oc-webring-title"><a href="https://webring.bucketfish.me/">Bucket Webring</a></div>
    <div class="oc-webring-controls">
        <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=The Iron Ragdoll">previous</a>
        <a href="https://webring.bucketfish.me/redirect.html?to=random&name=The Iron Ragdoll">random</a>
        <a href="https://webring.bucketfish.me/redirect.html?to=next&name=The Iron Ragdoll">next</a>
    </div>
</div>
<link rel="stylesheet" href="https://webcomicring.org/js/comicring.css">
<div id='webcomicwebring'>
  <script type="text/javascript" src="https://webcomicring.org/js/comicring-variables.js"></script>
  <script type="text/javascript" src="https://webcomicring.org/js/comicring-widget.js"></script>
</div>
<div id='focusfirst-webring'>
  <script type="text/javascript" src="https://www.beepbird.net/webring/onionring-variables.js"></script>
  <script type="text/javascript" src="https://www.beepbird.net/webring/onionring-widget.js"></script>
  <noscript><a href='https://www.beepbird.net/index.html'><img src="https://www.beepbird.net/webring/focusfirst.png" alt="Focus First Index"></a></noscript>
</div>

<script src="https://gusbus.space/smallweb-subway.js/comics.js"></script>
<smallweb-subway-comics></smallweb-subway-comics>

<iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;" src="https://webring.bucketfish.me/embed.html?name=The Iron Ragdoll"></iframe>

<script defer src="https://mechagic.party/1stylescripts/gitgudring.js"></script>

<a href="https://webmasterwebring.netlify.app?tir-previous">{% lucide 'chevron-left' %}</a> <a href="https://webmasterwebring.netlify.app">Webmaster Webring</a> <a href="https://webmasterwebring.netlify.app?tir-next">{% lucide 'chevron-right' %}</a>
