---
layout: article.liquid
title: Miscellaneous
eleventyNavigation:
  parent: Root
---

<ul>
	<li>
		<div><a href="/misc/links/">Links</a></div>
		<div class="smaller-text">Cool sites, and webrings I'm in.</div>
	</li>
	<li>
		<div><a href="/misc/credits/">Links</a></div>
		<div class="smaller-text">Where it's due.</div>
	</li>
	<li>
		<div><a href="/misc/perms/">Perms</a></div>
		<div class="smaller-text">Artfight drawing perms.</div>
	</li>
	<li>
		<div><a href="https://tofutush.github.io/tag/tir" target="_blank">Blog posts about TIR</a></div>
		<div class="smaller-text">More meta things.</div>
	</li>
</ul>
