---
layout: layout.liquid
title: Categories
desc: World file categories.
eleventyNavigation:
  order: 0
---

<h1>Categories</h1>
<ul>
    {% for tag in collections.worldCats %}
      {% assign num = collections.world | filterWorldByTag: tag | size %}
      <li><a href="{{ tag | slug }}/">{% lucide 'tags' %} {{ tag }}</a><span class="lighter-text smaller-text"> ({{ num }} file{% if num != 1 %}s{% endif %})</span></li>
    {% endfor %}
</ul>
