---
layout: layout.liquid
title: World
desc: The world of The Iron Ragdoll.
eleventyNavigation:
  parent: Root
  order: 998
---
<style>
  .imgs {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .imgs img {
    transition: transform 0.3s var(--bezier-bounce);
  }
  .imgs img:hover {
    transform: scale(1.2);
  }
</style>
<h1>
  <a href="overview/">Overview (click to read!)</a>
</h1>
<h2>Countries</h2>
<div class="imgs">
  <a href="bauhinia/"><figure>{% image 'gallery/' 'bauhinia flag' 'svg' 200 'Bauhinia' %}<figcaption>Bauhinia</figcaption></figure>
  <a href="fanton/"><figure>{% image 'gallery/' 'fanton flag' 'svg' 200 'Fanton' %}<figcaption>Fanton</figcaption></figure>
  <a href="atlasia/"><figure>{% image 'gallery/' 'atlasia flag' 'svg' 200 'Atlasia' %}<figcaption>Atlasia</figcaption></figure>
  <a href="westavia/"><figure>{% image 'gallery/' 'westavia flag' 'svg' 200 'Westavia' %}<figcaption>Westavia</figcaption></figure>
  <a href="moreland/"><figure>{% image 'gallery/' 'moreland flag' 'svg' 200 'Moreland' %}<figcaption>Moreland</figcaption></figure>
  <a href="sylvandia/"><figure>{% image 'gallery/' 'sylvandia flag' 'svg' 200 'Sylvandia' %}<figcaption>Sylvandia</figcaption></figure>
</div>
<h2>Lore files list</h2>
<ul>
  {% assign sortedLore = collections.lore | sort: "url" %}
  {% for file in sortedLore %}
    {% include 'fileLi', file: file %}
  {% endfor %}
</ul>
