---
layout: layout.liquid
title: Gallery
desc: A bunch of pictures I drew.
years:
 - 2023
 - 2024
 - 2025
eleventyNavigation:
  key: Gallery
  parent: Root
  order: 4
---
<link rel="stylesheet" href="/css/gallery.css"/>
<div class="box-nav">
    {% for year in years %}
        <a href="/gallery/{{ year }}/">{{ year }}</a>
    {% endfor %}
</div>
