---
layout: layout.liquid
title: Gallery
desc: A bunch of pictures I drew.
years:
 - 2023
 - 2024
eleventyNavigation:
  key: Gallery
  parent: Root
  order: 2
---
<link rel="stylesheet" href="/css/gallery.css"/>
<div id="years">
    {% for year in years %}
        <a href="{{ year }}/">{{ year }}</a>
    {% endfor %}
</div>
