<link rel="stylesheet" href="/css/gallery.css"/>
<div id="modal">
	<button class="close">{% lucide 'x' 48 %}</button>
	<button class="prev">{% lucide 'chevron-left' 48 'var(--off-white)' %}</button>
	<button class="next">{% lucide 'chevron-right' 48 'var(--off-white)' %}</button>
	<img/>
	<p class="author">Art by <a target="_blank" class="external-link"></a></p>
	<div class="tags chbuttons"></div>
	<div class="info">
		<p class="name-date"><span></span><span></span></p>
		<div class="comment"></div>
	</div>
</div>
<script src="/js/gallery.js"></script>