<div class="gallery">
  {% for img in imgs %}
  <div>
    {% assign bruhhh = img.name | append: "." | append: img.type %}
    {% image "gallery/" bruhhh 120 img.name %}
    <div class="modal">
      <div class="close">{% lucide 'x' 48 %}</div>
      {% assign bruhhh = img.name | append: "." | append: img.type %}
      {% image "gallery/" bruhhh 1000 img.name %}
      {% if img.ch %}
      <div class="chbuttons">
        {% for ch in img.ch %}
        <div>{% include 'chButton', ch: ch %}</div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="comment">
        <p class="name-date"><span>{{ img.name }}</span><span>{{ img.date }}</span></p>
        {% if img.comment %}
        {{ img.comment | renderMD }}
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>