<div class="gallery">
  {% for img in imgs %}
  <div tags="{% for c in img.ch %}{{ c | slug }} {% endfor %}">
    {% assign bruhhh = img.name | append: "." | append: img.type %}
    {% image "gallery/" bruhhh 120 img.name %}
    <div class="modal">
      <div class="close">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </div>
      {% assign bruhhh = img.name | append: "." | append: img.type %}
      {% image "gallery/" bruhhh 1000 img.name %}
      {% if img.ch %}
      <div class="chbuttons">
        {% for ch in img.ch %}
        <div>{% include 'chButton', ch: ch %}</div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="comment">
        <p class="name-date"><span>{{ img.name }}</span><span>{{ img.date }}</span></p>
        {% if img.comment %}
        {{ img.comment | renderMD }}
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>