<div class="prev-next">
    {% if prev %}<p><a href="{{ prev }}">{% lucide 'chevron-left' %} Previous</a></p>{% endif %}
    <div></div>
    {% if next %}<p><a href="{{ next }}">Next {% lucide 'chevron-right' %}</a></p>{% endif %}
</div>
