<div class="prev-next">
    {% if prev %}<p><a href="{{ prev }}">{% lucide 'chevron-left' %} Prev</a></p>{% endif %}
    <p><a href="../">Index</a></p>
    {% if next %}<p><a href="{{ next }}">Next {% lucide 'chevron-right' %}</a></p>{% endif %}
</div>
