<p style="text-align:center"><label for="story-detail-check"><input type="checkbox" id="story-detail-check" /> Hide summaries?</label></p>
<ul class="story-list">
	{% for story in stories %}
		{% include 'fileLi', file: story %}
	{% endfor %}
</ul>