<ul>
    {% for story in stories %}
        <li><a href="{{ story.page.url }}">{{ story.data.title }}</a></li>
        {% if story.data.summary %}
            </ul>{{ story.data.summary | renderMD }}<ul>
        {% endif %}
    {% endfor %}
</ul>