{% for story in stories %}
    <div class="story">
        <h3><a href="{{ story.page.url }}">{{ story.data.title }}</a></h3>
        {% if story.data.summary %}
            {{ story.data.summary | renderMD }}
        {% endif %}
    </div>
{% endfor %}
