<ul>
    {% for story in stories %}
        <li><a href="{{ story.page.url }}">{{ story.data.title }}</a></li>
        {% if story.summary %}
            <ul><li>{{ story.summary }}</li></ul>
        {% endif %}
    {% endfor %}
</ul>