---
layout: layout.liquid
title: World
desc: The world of The Iron Ragdoll.
eleventyNavigation:
  key: World
  parent: Root
  order: 998
---
<style>
  .imgs {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .imgs img {
    transition: transform 0.3s var(--bezier-bounce);
  }
  .imgs img:hover {
    transform: scale(1.2);
  }
</style>
<h1>
  <a href="overview/">Overview (click to read!)</a>
</h1>
<h2>Countries</h2>
<div class="imgs">
  <a href="bauhinia/">{% figure 'gallery/' 'bauhinia flag.svg' 200 'Bauhinia' %}</a>
  <a href="fanton/">{% figure 'gallery/' 'fanton flag.svg' 200 'Fanton' %}</a>
  <a href="atlasia/">{% figure 'gallery/' 'atlasia flag.svg' 200 'Atlasia' %}</a>
  <a href="westavia/">{% figure 'gallery/' 'westavia flag.svg' 200 'Westavia' %}</a>
  <a href="moreland/">{% figure 'gallery/' 'moreland flag.svg' 200 'Moreland' %}</a>
  <a href="sylvandia/">{% figure 'gallery/' 'sylvandia flag.svg' 200 'Sylvandia' %}</a>
</div>
<h2>Stuff</h2>
<div class="imgs">
  <a href="history/">
    {% figure 'bg/' 'history.png' 200 'History' 'Learn about history!' %}
  </a>
  <a href="superpowers/">
    {% figure 'gallery/' 'power relations.svg' 200 'Superpowers' 'Learn about superpowers!' %}
  </a>
  <a href="creatures/">
    {% figure 'gallery/' 'creatures.png' 200 'Creatures' 'Learn about creatures!' %}
  </a>
  <a href="calendar/">
    {% figure 'bg/' 'calendar.png' 200 'Calendar' 'Calendar with holidays and birthdays!' %}
  </a>
</div>
