---
layout: layout.liquid
title: World
desc: The world of The Iron Ragdoll.
eleventyNavigation:
  key: World
  parent: Root
  order: 3
---

<h1><a href="overview/">Overview (click to read!)</a></h1>
<p>Countries:</p>
<ul>
  <li><a href="bauhinia/">Bauhinia</a></li>
  <li><a href="fanton/">Fanton</a></li>
  <li><a href="atlasia/">Atlasia</a></li>
  <li><a href="westavia/">Westavia</a></li>
  <li><a href="moreland/">Moreland</a></li>
  <li><a href="sylvandia/">Sylvandia</a></li>
</ul>
<p><a href="superpowers/">Learn about superpowers!</a></p>
<p><a href="history/">Learn about history!</a></p>
<p><a href="calendar/">Calendar with holidays and birthdays!</a></p>
<p>I need to format this page better.</p>
<p>This looks so ugly rn</p>