---
layout: storyLayout.liquid
title: Stories
eleventyNavigation:
  parent: Root
  order: 997
---
<div class="box-nav solid">
  <a href="map/">Map</a>
  <a href="/fun/random/story/">Random story</a>
</div>
<p>Where I write the shenanigans that the characters go through!</p>
<p>Most of these are lore dumps rather than real writing, because I can't write to save my life.</p>
<p>Each story has a "Complete?" field near the top that tells you whether it's complete. Note that most stories are incomplete though, and reading the incomplete version still gives you an idea about the story! (Most of the time I have a beginning and end and just fail to fill out the middle.)</p>
<p>Sometimes a story will have a real-story form, if it's a oneshot, or if it has a link at the top to the real-story version. Sometimes it has a comic associated too, which will also be linked at the top.</p>
<p>Good places to start: <a href="a-nuke-from-moreland/">A Nuke from Moreland</a>, <a href="spy-school/">Spy School</a></p>
<hr/>
{% include 'storylist', stories: collections.stories %}
