---
layout: storyLayout.liquid
title: Stories
eleventyNavigation:
  parent: Root
  order: 997
---
<div class="box-nav solid">
  <a href="/fun/random/story/">Random story</a>
</div>
<p>This is where I write the shenanigans that the characters go through!</p>
<p>Most of these are lore dumps rather than real writing, because I can't write to save my life. Most are also unfinished and in an eternal state of refinement.</p>
<p>Sometimes a story will have a real-story form, if it's a oneshot, or if it has a link at the top to the real-story version. Sometimes it has a comic associated too, which will also be linked at the top.</p>

{% include 'storylist', stories: collections.stories %}
