---
layout: layout.liquid
title: Map
desc: Map of stories.
widepage: true
eleventyNavigation:
  parent: Stories
---
<style>
    #wrapper {
        max-width: 1200px;
        overflow-x: auto;
    }
</style>
<p>This is a map of which stories take place after which! It's not a chronological map, but rather cause-and-effect.</p>
<p>The links are only circles with no text… yeah, sorry, but I really don't know how to make the text appear properly. D3.js is already hard enough.</p>
<p>On desktop you can hover over the links to see the title text. On mobile, you'd have to open them. Sorry!</p>
<div id="wrapper">
    <svg id="svg">
        <g transform="translate(2, 2)">
            <defs id="defs" />
            <g id="links" />
            <g id="nodes" />
            <g id="arrows" />
        </g>
    </svg>
</div>
<script src="data.js"></script>
<script type="module" src="/js/storymap.js"></script>
