---
layout: article.liquid
title: Map
desc: Map of stories.
parent: Stories
eleventyNavigation:
  order: 0
---
<style>
    #wrapper {
        max-width: 800px;
        overflow-x: auto;
    }
</style>
<p>This is a map of which stories take place after which! If a line connects two nodes, then the bottom one must have happened after the top one, but if there are no lines then there isn't a time relationship between the two!</p>
<p>The links are only circles with no text… yeah, sorry, but I really don't know how to make text appear properly. On desktop you can hover over the links to see the title text. On mobile, you'd have to open them. Sorry!</p>
<div id="wrapper">
    <svg id="svg">
        <g transform="translate(2, 2)">
            <defs id="defs" />
            <g id="links" />
            <g id="nodes" />
            <g id="arrows" />
        </g>
    </svg>
</div>
<script src="/js/d3@7.js"></script>
<script src="/js/d3dag.js"></script>
<script src="data.js"></script>
<script src="/js/storymap.js"></script>
