---
layout: gallery.liquid
title: Picture collections
desc: Collections of pictures I drew.
tags: fun
eleventyNavigation:
  parent: Fun
---
<style>
    #footers-div {
        display: flex;
        gap: 2em;
        overflow-x: auto;
        align-items: flex-end;
        
        &>img {
            width: 13em;
            height: auto;
        }
    }
    .pic-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 1em;
        align-items: end;

		& img {
			width: 100%;
			height: auto;
		}
	}
</style>
<h1>Picture collections</h1>
<p>Here's a list of pictures to browse through.</p>
<details id="toc-wrap">
    <summary><h3>Contents</h3></summary>
    <div id="toc">
        <ul>
            <li><a href="#banners">Banners</a></li>
            <li><a href="#footers">Footers</a></li>
            <li><a href="#new-year">New Year</a></li>
            <li><a href="#wallpapers">Wallpapers</a></li>
        </ul>
    </div>
</details>
<h2 id="banners">Banners</h2>
{% assign banners = gallery | filterGalleryByKind: "banner" %}
{% for b in banners %}
    {% image 'gallery/' b.name 'png' 3000 b.name 'max' %}
{% endfor %}
<h2 id="footers">Footers</h2>
{% assign footers = gallery | filterGalleryByKind: "footer" %}
<div class="pic-grid">
    {% for f in footers %}
        {% image 'gallery/' f.name 'png' 500 f.name %}
    {% endfor %}
</div>
<h2 id="new-year">New Year</h2>
<p>Hopefully this can motivate me to draw one of these every year.</p>
<div class="pic-grid">
    {% image 'gallery/' 'cosmo snake year' 'png' 500 '2025 Year of the Snake' %}
    <div></div><div></div>
</div>
<h2 id="wallpapers">Wallpapers</h2>
<p>Special thanks to <a class="external-link" target="_blank" href="https://theoliveoli.blahaj.land/">TheOliveOli</a> for making these wallpapers!</p>
<p>These are <i>not</i> full size! Click the image to download the full size version.</p>
<h3>Desktop</h3>
<div class="pic-grid">
	<a href="{% imageUrl 'bg/wall/' 'cms lineless wallpaper' 'png' 9999 '' '' 'png' %}">{% image 'bg/wall/' 'cms lineless wallpaper' 'png' 500 'cms lineless wallpaper' %}</a>
	<a href="{% imageUrl 'bg/wall/' 'cms lineless chars wallpaper' 'png' 9999 '' '' 'png' %}">{% image 'bg/wall/' 'cms lineless chars wallpaper' 'png' 500 'cms lineless chars wallpaper' %}</a>
	<a href="{% imageUrl 'bg/wall/' 'cms lineless chars alt wallpaper' 'png' 9999 '' '' 'png' %}">{% image 'bg/wall/' 'cms lineless chars alt wallpaper' 'png' 500 'cms lineless chars alt wallpaper' %}</a>
</div>
<p>By TheOliveOli, 3840 &times; 2160px</p>
<div class="pic-grid">
	<a href="{% imageUrl 'bg/wall/' 'sparky nightsun wallpaper' 'png' 9999 '' '' 'png' %}">{% image 'bg/wall/' 'sparky nightsun wallpaper' 'png' 500 'sparky nightsun wallpaper' %}</a>
	<div></div><div></div>
</div>
<p>1920 &times; 1080px</p>
<h3>Phone</h3>
<div class="pic-grid">
	<a href="{% imageUrl 'bg/wall/' 'cms lineless portrait' 'png' 9999 '' '' 'png' %}">{% image 'bg/wall/' 'cms lineless portrait' 'png' 200 'cms lineless portrait' %}</a>
	<a href="{% imageUrl 'bg/wall/' 'cms lineless chars portrait' 'png' 9999 '' '' 'png' %}">{% image 'bg/wall/' 'cms lineless chars portrait' 'png' 200 'cms lineless chars portrait' %}</a>
	<a href="{% imageUrl 'bg/wall/' 'cms lineless chars alt portrait' 'png' 9999 '' '' 'png' %}">{% image 'bg/wall/' 'cms lineless chars alt portrait' 'png' 200 'cms lineless chars alt portrait' %}</a>
</div>
<p>By TheOliveOli, 1920 &times; 3840px</p>