---
layout: gallery.liquid
title: Gallery
desc: A bunch of pictures I drew.
eleventyNavigation:
  parent: Root
  order: 4
---

<p>Click on the year buttons above to view my drawings, or the Progress button for my progress on character art!</p>
<p>Using: Huion tablet with Clip Studio Paint. Adobe After Effects for animation.</p>