---
layout: gallery.liquid
title: Gallery
desc: A bunch of pictures I drew.
eleventyNavigation:
  parent: Root
  order: 4
---
<style>
.three-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  align-items: end;
  &>a {
    text-decoration: none;
    &>div {
      height: 10em;
      background-size: cover;
      background-position: top left;
      padding: 1em;
      border-radius: 1em;
      display: flex;
      align-items: end;
      transition: all 1s;
      &>p {
        font-size: calc(var(--font-size) * 1.35);
        margin: 0;
        background-color: var(--bg);
        padding: 0 .5em;
        border-radius: 999px;
        transition: all .2s;
      }
      &:hover {
        background-position: bottom right;
        &>p {
          opacity: .5;
        }
      }
    }
  }
}
</style>
<div class="three-grid">
  {% for year in years reversed %}
    <a href="{{ year }}/">
      {% assign img = gallery | filterGalleryByDate: year | getFirstOfKind: "featured" %}
      <div style="background-image: url({% capture url %}{% imageUrl 'gallery/' img.name img.type 1000 %}{% endcapture %}{{ url | htmlBaseUrl }})">
        <p>{{ year }}</p>
      </div>
    </a>
  {% endfor %}
</div>
<p>Using: Huion tablet with Clip Studio Paint. Adobe After Effects for animation.</p>
