.theme-light {
	--color-red-rgb: 255, 0, 0;
	--color-red: #ff0000;
	--color-orange-rgb: 0, 204, 255;
	--color-orange: #00ccff;
	--color-yellow-rgb: 227, 104, 211;
	--color-yellow: #e368d3;
	--color-green-rgb: 0, 130, 130;
	--color-green: #008282;
	--color-cyan-rgb: 35, 108, 225;
	--color-cyan: #236ce1;
	--color-blue-rgb: 0, 0, 0;
	--color-blue: #000000;
	--color-purple-rgb: 0, 0, 0;
	--color-purple: #000000;
	--color-pink-rgb: 0, 0, 0;
	--color-pink: #000000;
}

.nav-file-title-content, .nav-folder-title-content {
//font-weight: bold;
}