---
layout: layout.liquid
title: Root
widepage: true
---
<link rel="stylesheet" href="/css/home.css"/>
{% assign dateMonth = 0 | getMMDD %}
{% if dateMonth == '12-13' %}
  <p style="text-align: center; font-style: italic; font-weight: bold;">12-13 国家公祭日</p>
  <p style="text-align: center; font-style: italic; font-weight: bold;">勿忘国耻，警钟长鸣</p>
{% elsif dateMonth == '09-18' %}
  <p style="text-align: center; font-style: italic; font-weight: bold;">9·18 事变纪念日</p>
  <p style="text-align: center; font-style: italic; font-weight: bold;">缅怀先辈，铭记历史</p>
{% endif %}
<section id="title-flex">
  <section id="title">
    <p>Welcome to the world of</p>
    <h1>The Iron Ragdoll!</h1>
  </section>
  <img src="/img/bg/temp.png"/>
</section>
<section id="flex">
  <section id="left">
    {% image 'qibli stand wand' 1000 'Coastline Middle School friends' 'float-left' %}
    <p>Hi, I'm Tofutush (she/her)! Thanks for visiting this little webbed site. I hope you have fun!</p>
    <p>The Iron Ragdoll is my paracosm that I adore and want to share with you. It's about a bunch of colorful people with animal ears and horns. They play around, solve mysteries, and spy on each other, living in a borderline-dystopian world with spies, agents, betrayal, and friendship both genuine and fake.</p>
    <p>Use the navigation links above to check things out!</p>
    <div class="buttons"><img alt="The Iron Ragdoll" src="/img/bg/88x31.gif"/></div>
    <details id="new-here" class="callout" open>
      <summary class="callout-title">
        <div class="callout-title-icon">{% lucide 'circle-question-mark' %}</div>
        <div class="callout-title-inner">New here?</div>
      </summary>
      <div class="callout-content">
        <p>Start with <a href="/about/">About</a> and <a href="/world/overview/">world overview</a>!</p>
      </div>
    </details>
  </section>
  <section id="right">
    <section id="right-flex">
      <div class="box-nav solid links">
        <a href="/fun/">{% lucide 'ferris-wheel' %} Fun stuff</a>
        <a href="/sitemap/">{% lucide 'code-xml' %} Sitemap</a>
        <a href="/misc/links/">{% lucide 'square-arrow-out-up-right' %} Links</a>
        <a href="/misc/credits">{% lucide 'thumbs-up' %} Credits</a>
      </div>
      <img src="/img/bg/tempgoose.png"/>
    </section>
    <hr/>
    <div class="box-nav solid links">
      <a target="_blank" href="https://tilde.town/~tofutush">{% lucide 'user-round' %} About me</a>
      <a target="_blank" href="https://tofutush.github.io/tdyww/">{% lucide 'globe' %} 中文站</a>
      <a target="_blank" href="https://tofutush.leprd.space/guestbook/">{% lucide 'notebook-tabs' %} Guestbook</a>
      <a target="_blank" href="https://discord.gg/XzdA5vKkb2">{% lucide 'messages-square' %} Discord server</a>
      <a target="_blank" href="https://neocities.org/site/tofutush">{% lucide 'cat' %}{% lucide 'brush' %} Neocities profile</a>
      <a target="_blank" href="https://tofutush.leprd.space">{% lucide 'heart' %} Favorites Leaderboard</a>
    </div>
  </section>
</section>
