---
layout: layout.liquid
noNav: true
eleventyExcludeFromCollections: true
permalink: "not_found.html"
title: 404
---

{% image "gallery/" "404" "png" 1000 "" "max" %}
<p>Sparky is lost. <a href="/">Bring her home?</a></p>