---
layout: layout.liquid
title: sitemap
eleventyNavigation:
  key: sitemap
  parent: Root
  order: 1000
---

<p>Total pages in site: {{ collections.all.size }}</p>
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
