---
layout: article.liquid
title: Fav picker
desc: Pick your favorite TIR character!
tags: fun
widepage: true
eleventyNavigation:
  key: Fav picker
  parent: Fun
---
<link rel="stylesheet" href="/css/favpicker.css" />
<div class="picker">
    <div class="progress"></div>
    <div class="wrapper">
        <div class="one side">
            <img />
            <h3></h3>
            <p></p>
        </div>
        <p class="vs">VS</p>
        <div class="two side">
            <img />
            <h3></h3>
            <p></p>
        </div>
    </div>
</div>
<div class="result">
    <img />
    <p>Your favorite character is <a class="fav"></a>!</p>
    <p><a href="">Play again?</a></p>
</div>
<script src="data.js"></script>
<script src="/js/favpicker.js"></script>
