---
layout: article.liquid
title: Fav picker
desc: Pick your favorite TIR character!
tags: fun
widepage: true
eleventyNavigation:
  key: Fav picker
  parent: Fun
---

<div class="picker">
    <div class="one">
        <img />
        <h3></h3>
        <p></p>
        <button>This!</button>
    </div>
    <div class="two">
        <img />
        <h3></h3>
        <p></p>
        <button>This!</button>
    </div>
</div>
<script src="data.js"></script>
<script src="/js/favpicker.js"></script>
