---
layout: layout.liquid
title: Fun
eleventyNavigation:
  key: Fun
  order: 4
---

<h1>Fun</h1>

<div id="uquiz_embed" data-quiz-id="v5EFoN" data-width="100%"></div>
<script src="https://uquiz.com/embed.js"></script>
