---
layout: layout.liquid
title: Fun
eleventyNavigation:
  key: Fun
  order: 4
---

<h1>Fun</h1>

<ul>
  <li><a href="mss-quiz/">MSS personality quiz</a></li>
  <li><a href="scenarios/">Scenario generator</a></li>
</ul>
