---
layout: layout.liquid
title: Fun
eleventyNavigation:
  key: Fun
  parent: Root
  order: 5
---

<h1>Fun</h1>

<ul>
  {% for file in collections.fun %}
    <li><a href="{{ file.url }}">{{ file.data.title }}</a></li>
  {% endfor %}
</ul>
