---
layout: layout.liquid
title: MSS Personality Quiz
desc: Which MSS character are you?
eleventyNavigation:
  key: MSS Personality Quiz
  parent: Fun
---

<h1>MSS Personality Quiz</h1>

<div id="uquiz_embed" data-quiz-id="v5EFoN" data-width="100%"></div>
<script src="https://uquiz.com/embed.js"></script>
