---
layout: article.liquid
title: Scavenger hunt
desc: A scavenger hunt game in the website.
tags: fun
eleventyNavigation:
  key: Scavenger hunt
  parent: Fun
---

<p>Greetings, dear tourist. You've stumbled upon this page, which already indicates your unusual talent. Can you complete this challenge to find the secret page hidden in this website?</p>