---
layout: layout.liquid
title: Scenarios
desc: "Generate stupid scenarios!"
eleventyNavigation:
  key: Scenarios
  parent: Fun
---

<h1>Scenarios</h1>

<p>Generate random scenarios!</p>

<p><button onclick="generate()">Generate!</button></p>

<ol reversed id="generated"></ol>

<script src="/js/generator-placeholder.js"></script>
<script src="/js/generator.js"></script>
<script>
  let characters = [
    {% for ch in characters %}
      {% assign chUrl = '/characters/' | append: ch.name | lowerCase | append: '/' | htmlBaseUrl %}
      "<a href=\"{{ chUrl }}\">{{ ch.name }}</a>",
    {% endfor %}
  ];
  
  let generator = new Generator(
    [
      new GeneratorPlaceholder("c", characters, false),
      new GeneratorPlaceholder("verbTrans", [
        "killed",
        "ate",
      ]),
      new GeneratorPlaceholder("nounWithArticle", [
        "a sandwich"
      ])
    ],
    [
      // "%c% %verbTrans% %c%.",
      // "%c% %verbTrans% %nounWithArticle%.",
      "%c|2-3% %verbTrans% %c/nounWithArticle|1-2%.",
    ]
  );
  let div = document.getElementById("generated");
  function generate() {
    let generated = generator.generate();
    let li = document.createElement("li");
    li.innerHTML = generated;
    div.prepend(li);
  }
</script>