---
layout: layout.liquid
title: Scenarios
desc: "Generate stupid scenarios!"
eleventyNavigation:
  key: Scenarios
  parent: Fun
---

<h1>Scenarios</h1>

<p>Generate random scenarios!</p>

<button onclick="generate()">Generate!</button>
