---
layout: layout.liquid
title: Fun
eleventyNavigation:
  key: Fun
  parent: Root
  order: 5
---

<h1>Fun</h1>

<ul>
  {% for file in collections.fun %}
    {% include 'fileLi', file: file %}
  {% endfor %}
</ul>
