---
layout: article.liquid
title: OC Generator
desc: Generate an OC!
tags: fun
eleventyNavigation:
  key: OC Generator
  parent: Fun
---

<button onclick="generate()">Generate!</button>

<p>Soul color: <span class="color"></span></p>
<p class="basics"></p>
<p class="soul"></p>
<p class="head"></p>

<script src="/js/generator.js"></script>
<script src="/js/wordsfromcorpora.js"></script>
<script src="/js/oc-gen.js"></script>
