---
layout: article.liquid
title: MSS Personality Quiz
desc: Which MSS character are you?
tags: fun
eleventyNavigation:
  parent: Fun
---

<div id="uquiz_embed" data-quiz-id="v5EFoN" data-width="100%"></div>
<script src="https://uquiz.com/embed.js"></script>
