---
layout: article.liquid
title: Superpower Quiz
desc: What superpower do you have?
eleventyNavigation:
  parent: Fun
---
<link rel="stylesheet" href="/css/quiz.css"/>
<div id="quiz"><p>This quiz requires JavaScript to run!</p></div>
<script src="/js/quiz.js"></script>
<script>
const quizContent = {
  "id": "super",
  "desc": "The five common superpowers, and the two rare ones — which one of them do you have? Or do you have none of them? Find out with the quiz below! (Note: assignment is pretty much arbitrary. I pulled most of it out of my ass. Just have fun!)",
  "randomize": true,
  "results": {
    "Superstrength": {
      "desc": "You can channel up your soul to give you extra strength! Lift that car up and toss it! Go!",
      "url": "../../world/superpowers/#superstrength"
    },
    "Timekeeping": {
      "desc": "You know exactly what time it is. You won't ever <em>accidentally</em> be late!",
      "url": "../../world/superpowers/#timekeeping"
    },
    "Hyperawareness": {
      "desc": "You can see and hear miles away if you focus! You won't ever need glasses!",
      "url": "../../world/superpowers/#hyperawareness"
    },
    "Invisibility": {
      "desc": "You can hide yourself from view! Watch out for mirrors and cameras though, for they can always capture you…",
      "url": "../../world/superpowers/#invisibility"
    },
    "Mind reading": {
      "desc": "You can read people's minds! If you're not trained or powerful enough, they will feel a tingling sensation when you do so. Too bad the teachers will prevent you from doing it during exams…",
      "url": "../../world/superpowers/#mind-reading"
    },
    "Magic": {
      "desc": "You have magic flowing in your veins! Quick, get registered and attend the Magic Academy unless you want to be in jail!",
      "url": "../../world/superpowers/#magic"
    },
    "Immortality": {
      "desc": "You cannot die. You stop aging in your twenties. If you get hurt, your body regenerates. But watch out! There is one thing in the world that can instantly kill you. Do you want to find out what it is?",
      "url": "../../world/superpowers/#immortality"
    },
    "None": {
      "desc": "You don't have any superpowers. Don't be sad though, you are the same with the majority of the population!"
    }
  },
  "questions": [
    {
      "title": "Do you like cats?",
      "answers": [
        {
          "text": "I LOVE them! They're my whole world!",
          "response": {
            "Superstrength": 1
          }
        },
        {
          "text": "I am forever a loyal servant to my cat(s).",
          "response": {
            "Timekeeping": 1
          }
        },
        {
          "text": "I like cats a lot.",
          "response": {
            "Hyperawareness": 1
          }
        },
        {
          "text": "They're okay, I guess.",
          "response": {
            "Invisibility": 1
          }
        },
        {
          "text": "I hate cats.",
          "response": {
            "Mind reading": 1
          }
        },
        {
          "text": "Every time I see a cat I throw it in a ditch because of how much I hate them.",
          "response": {
            "Magic": 1
          }
        },
        {
          "text": "The world will be a better place without any felines at all, including tigers, lions, etc.",
          "response": {
            "Immortality": 1
          }
        }
      ],
      "response": {
        "None": 1
      },
      "randomize": false
    },
    {
      "title": "What would you do on a rainy day?",
      "answers": [
        {
          "text": "Invite my friends over before the rain started, so they're trapped at my place and have to play with me.",
          "response": {
            "Superstrength": 1
          }
        },
        {
          "text": "Read a book.",
          "response": {
            "Timekeeping": 1
          }
        },
        {
          "text": "Go shopping.",
          "response": {
            "Hyperawareness": 1
          }
        },
        {
          "text": "Play video games.",
          "response": {
            "Invisibility": 1
          }
        },
        {
          "text": "I work on my website like a true webmaster.",
          "response": {}
        },
        {
          "text": "Stay in bed and paracosm all day.",
          "response": {
            "Magic": 1
          }
        },
        {
          "text": "I go out and play in the rain!",
          "response": {
            "Immortality": 1
          }
        }
      ],
      "response": {
        "None": 1
      }
    },
    {
      "title": "Which country do you want to live in the most?",
      "answers": [
        {
          "text": "Bauhinia",
          "response": {
            "Superstrength": 1
          }
        },
        {
          "text": "Fanton",
          "response": {
            "Immortality": 1
          }
        },
        {
          "text": "Atlasia",
          "response": {
            "Mind reading": 1
          }
        },
        {
          "text": "Westavia",
          "response": {
            "Hyperawareness": 1
          }
        },
        {
          "text": "Moreland",
          "response": {
            "Timekeeping": 1
          }
        },
        {
          "text": "Sylvandia",
          "response": {
            "Invisibility": 1
          }
        },
        {
          "text": "NONE of these dystopian hellscapes!",
          "response": {
            "Magic": 1
          }
        }
      ],
      "response": {
        "None": 1
      },
      "randomize": false
    },
    {
      "title": "Would you work for the MSS?",
      "answers": [
        {
          "text": "Fuck no.",
          "response": {
            "Superstrength": 1,
            "Mind reading": 1,
            "Magic": 1,
            "Immortality": 1
          }
        },
        {
          "text": "Fuck yes.",
          "response": {
            "Timekeeping": 1,
            "Hyperawareness": 1,
            "Invisibility": 1
          }
        }
      ],
      "response": {
        "None": 1
      }
    },
    {
      "title": "What's your favorite color?",
      "answers": [
        {
          "text": "Red",
          "response": {
            "Magic": 10,
            "Superstrength": 1
          }
        },
        {
          "text": "Orange",
          "response": {
            "Timekeeping": 1
          }
        },
        {
          "text": "Yellow",
          "response": {
            "Hyperawareness": 1
          }
        },
        {
          "text": "Green",
          "response": {
            "Invisibility": 1
          }
        },
        {
          "text": "Blue",
          "response": {
            "Mind reading": 1
          }
        },
        {
          "text": "Purple",
          "response": {
            "Magic": 1
          }
        },
        {
          "text": "Gray",
          "response": {
            "Immortality": 1
          }
        }
      ],
      "response": {
        "None": 1
      },
      "randomize": false,
      "addNoneAbove": true
    },
    {
      "title": "Do you like pineapple pizza?",
      "answers": [
        {
          "text": "I would like to suffer the same fate as Kismet.",
          "response": {
            "Superstrength": 1,
            "Hyperawareness": 1,
            "Mind reading": 1,
            "Immortality": 1
          }
        },
        {
          "text": "Fuck no.",
          "response": {
            "Timekeeping": 1,
            "Invisibility": 1,
            "Magic": 1
          }
        }
      ],
      "response": {
        "None": 1
      }
    },
    {
      "title": "Are you bald??",
      "answers": [
        {
          "text": "I have but a single hair on my head.",
          "response": {
            "Superstrength": 1
          }
        },
        {
          "text": "I'm a reptile. None of us have hair.",
          "response": {
            "Timekeeping": 1
          }
        },
        {
          "text": "I have plenty of hair everywhere except my head.",
          "response": {
            "Hyperawareness": 1
          }
        },
        {
          "text": "I wear a wig to cover up my baldness.",
          "response": {
            "Invisibility": 1
          }
        },
        {
          "text": "I am smart, and smart people are all bald.",
          "response": {
            "Mind reading": 1
          }
        },
        {
          "text": "My head can light up a cave if I stand at the entrance with the sun behind me.",
          "response": {
            "Magic": 1
          }
        },
        {
          "text": "People hang me upside-down from the ceiling to act as a disco ball.",
          "response": {
            "Immortality": 1
          }
        }
      ],
      "response": {
        "None": 1
      }
    },
    {
      "title": "How good is your eyesight?",
      "answers": [
        {
          "text": "I can't read this text so I'm just picking random options.",
          "response": {
            "Superstrength": 1
          }
        },
        {
          "text": "I can't tell who a person is unless we're touching noses.",
          "response": {
            "Timekeeping": 1
          }
        },
        {
          "text": "I can see Venus with my naked eye. During the day.",
          "response": {
            "Hyperawareness": 1
          }
        },
        {
          "text": "I'm forced to sit at the front row of the classroom because of my terrible eyes.",
          "response": {
            "Invisibility": 1
          }
        },
        {
          "text": "It doesn't matter. I don't really need to see when I have other senses.",
          "response": {
            "Mind reading": 1
          }
        },
        {
          "text": "I'm legally blind.",
          "response": {
            "Magic": 1
          }
        },
        {
          "text": "I'm like, average. Average average.",
          "response": {
            "Immortality": 1
          }
        }
      ],
      "response": {
        "None": 1
      }
    },
    {
      "title": "Which of these things would you bring to a party?",
      "answers": [
        {
          "text": "Balloons!",
          "response": {
            "Superstrength": 1
          }
        },
        {
          "text": "Food I made all by myself.",
          "response": {
            "Timekeeping": 1
          }
        },
        {
          "text": "A bunch of DVDs of 80's movies.",
          "response": {
            "Hyperawareness": 1
          }
        },
        {
          "text": "My undying party spirit.",
          "response": {
            "Invisibility": 1
          }
        },
        {
          "text": "A silly costume.",
          "response": {
            "Mind reading": 1
          }
        },
        {
          "text": "Fireworks!",
          "response": {
            "Magic": 1
          }
        },
        {
          "text": "Candies!",
          "response": {
            "Immortality": 1
          }
        }
      ],
      "response": {
        "None": 1
      },
      "multi": true,
      "addNoneAbove": true
    },
    {
      "title": "You're making a potion! What do you put in the pot?",
      "answers": [
        {
          "text": "Fish Stench Grass (Houttuynia cordata), Tofu's grandma's epic cure to runny noses. It tastes like… drumroll… Fish stench!",
          "response": {
            "Superstrength": 1
          }
        },
        {
          "text": "Carrots!",
          "response": {
            "Timekeeping": 1
          }
        },
        {
          "text": "Lots and lots of sugar.",
          "response": {
            "Hyperawareness": 1
          }
        },
        {
          "text": "Arsenic.",
          "response": {
            "Invisibility": 1
          }
        },
        {
          "text": "Cupcake sprinkles!",
          "response": {
            "Mind reading": 1
          }
        },
        {
          "text": "A human soul, solid or liquid (because gas ones would just float away).",
          "response": {
            "Magic": 1
          }
        },
        {
          "text": "The last hair on my bald head.",
          "response": {
            "Immortality": 1
          }
        }
      ],
      "response": {
        "None": 1
      },
      "multi": true,
      "addNoneAbove": true
    },
    {
      "title": "What kind of these games that I hate* do you like? (* Save for one kind)",
      "answers": [
        {
          "text": "Fighting games!",
          "response": {
            "Superstrength": 1
          }
        },
        {
          "text": "Platformers like Celeste and stuff. I love dying!",
          "response": {
            "Timekeeping": 1
          }
        },
        {
          "text": "Open-world stuff, like Minecraft.",
          "response": {
            "Hyperawareness": 1
          }
        },
        {
          "text": "Cute stuff like Animal Crossing.",
          "response": {
            "Invisibility": 1
          }
        },
        {
          "text": "Dating sims!",
          "response": {
            "Mind reading": 1
          }
        },
        {
          "text": "Choose-your-own-adventure games like Henry Stickmin.",
          "response": {
            "Magic": 1
          }
        },
        {
          "text": "GACHA GAMES like the Game That Shall Not Be Named!!!",
          "response": {
            "Immortality": 1
          }
        }
      ],
      "response": {
        "None": 1
      },
      "multi": true,
      "addNoneAbove": true
    }
  ]
};
let quiz = new Quiz(document.getElementById('quiz'), quizContent);
quiz.init();
</script>