body {
	overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
	width: 0 !important;
}

#chs {
	display: flex;
	gap: 24px;
	overflow-x: scroll;
	padding: 12px 0;
	user-select: none;
}

.ch {
	align-items: center;
	background-color: #fff8;
	border-radius: 16px;
	display: flex;
	height: 120px;
	justify-content: center;
	margin: auto;
	width: 120px;
}

.ch img {
	height: 120px;
}

.ch:hover {
	background-color: #fffa;
	cursor: pointer;
}

.ch.active {
	background-color: #fffb;
}

.unrevealed img {
	filter: brightness(0);
}

.unrevealed:hover {
	cursor: default;
	background-color: #fff8;
}

.desc > * {
	margin: 1em 0;
}

.desc h1, .desc h2 {
	color: var(--c);
}

.desc img {
	background-color: #fff8;
	border-radius: 16px;
	width: 100%;
	user-select: none;
}

.quote {
	border: 3px solid #fff8;
	border-radius: 12px;
	padding: 1em;
}

::-webkit-scrollbar {
	background-color: #0000;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: #fff8;
	border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #fffa;
}