---
layout: article.liquid
years:
 - 2023
 - 2024
 - 2025
---
<link rel="stylesheet" href="/css/gallery.css"/>
<div class="box-nav">
	{% for eachyear in years %}
		<a href="/gallery/{{ eachyear }}/" {% if year == eachyear %}aria-current="page"{% endif %}>{{ eachyear }}</a>
	{% endfor %}
</div>
<div class="box-nav">
	<a href="/gallery/progress/" {% if page.url == '/gallery/progress/' %}aria-current="page"{% endif %}>Progress</a>
	<a href="/gallery/collections/" {% if page.url == '/gallery/collections/' %}aria-current="page"{% endif %}>Collections</a>
	<a href="/gallery/feed.xml">{% lucide 'rss' %}</a>
</div>
{{ content }}