---
layout: layout.liquid
---
<h1>{{ title }}</h1>
<div class="box-nav solid">
  <a href="/fun/random/story/">Random story</a>
</div>
<details>
  <summary><h2>Tag filter</h2></summary>
  <div class="tags">
    <a href="/stories/" {% if page.url == "/stories/" %}aria-current="true"{% endif %}>All</a>
    {% assign storyTags = collections.storyTags %}
    {% for t in storyTags %}
      <a href="/stories/tag/{{ t | slug }}/" {% if t == tag %}aria-current="true"{% endif %}>{{ t }}</a>
    {% endfor %}
  </div>
</details>
{{ content }}