---
layout: layout.vto
---
<h1>{{ title }}</h1>
<details>
	<summary><h2>Tag filter</h2></summary>
	<div class="tags">
	<a href="/stories/" {{ if page.url == "/stories/" }}aria-current="true"{{ /if }}>All</a>
	{{ for t of collections.storyTags }}
		<a href="/stories/tag/{{ t |> slug }}/" {{ if t == tag }}aria-current="true"{{ /if }}>{{ t }}</a>
	{{ endfor }}
	</div>
	</details>
{{ content }}
