---
layout: article.liquid
eleventyComputed:
  eleventyNavigation:
    parent: Stories
---
<div class="attr">
	<p>Main Cast</p>
	<div class="tags">
		{% for ch in chs %}
			{% include 'chButton', ch: ch %}
		{% endfor %}
	</div>
	<p>Time period</p>
	<p>{{ time }}</p>
	{% if myTags %}
		<p>Tags</p>
		<p>
			{% assign sortedTags = myTags | sortAlphabetical %}{% for tag in sortedTags %}{% if forloop.index != 1 %}, {% endif %}<a href="/stories/tag/{{ tag | slug }}/">{{ tag }}</a>{% endfor %}
		</p>
	{% endif %}
</div>
{% if comic or fic %}
	<div class="box-nav solid">
		{% if comic %}
			<a href="page-1/">Read the comic!</a>
		{% endif %}
		{% if fic %}
			<a href="chapter-1/">Read the fic!</a>
		{% endif %}
	</div>
{% endif %}

{{ content }}

{% assign prev = collections.stories | getPreviousCollectionItem %}
{% assign next = collections.stories | getNextCollectionItem %}
{% if prev or next %}
	<hr class="solid-hr"/>
	{% include 'prevnext' prev: prev.url, next: next.url %}
{% endif %}