---
layout: layout.liquid
---
<h1>{{ title }}</h1>
<details class="callout">
	<summary class="callout-title"><div class="callout-title-inner">Tag filter</div></summary>
	<div class="callout-content">
		<div class="tags">
			<a href="/stories/" {% if page.url == "/stories/" %}aria-current="true"{% endif %}>All</a>
			{% assign storyTags = collections.storyTags %}
			{% for t in storyTags %}
				<a href="/stories/tag/{{ t | slug }}/" {% if t == tag %}aria-current="true"{% endif %}>{{ t }}</a>
			{% endfor %}
		</div>
	</div>
</details>
{{ content }}