---
layout: article.liquid
---
{% if categories %}
<p class="smaller-text lighter-text">Categories: {% assign sortedCats = categories | sortAlphabetical %}{% for cat in sortedCats %}{% if forloop.index != 1 %}, {% endif %}<a href="/world/category/{{ cat | slug }}/">{{ cat }}</a>{% endfor %}</p>
{% endif %}
{{ content }}