---
layout: layout.liquid
title: Stories
eleventyNavigation:
  key: Stories
  parent: Root
  order: 997
---
<link rel="stylesheet" href="/css/story.css"/>

<h1>Stories</h1>

<p>By order of importance:</p>
<ul>
    <li>Main plot</li>
    <li>Side plots</li>
    <li>Backstories</li>
    <li>Semi-canon stories</li>
    <li>Random non-canon stories</li>
</ul>

{% include 'storylist', stories: collections.stories %}
