---
layout: layout.liquid
title: Stories
eleventyNavigation:
  key: Stories
  parent: Root
---
<link rel="stylesheet" href="/css/story.css"/>

<h1>Stories</h1>

{% include 'storylist', stories: collections.stories %}
